#app-holder{
    overflow:hidden;
}
.registerBtn{
    display:block;
    width:100%;
    text-align: center;
    background: #ffc150;
    color: #fff;
    margin-top: 1em;
    padding: 1em 0;
    font-size: 14px;
    text-decoration: none;
}
