@include react-animation("slideup") {
  %enter-start {
    .scroll-select-content {
      transform: translate3d(0, 100%, 0);
    }

    .scroll-select-close {
      opacity: 0;
    }
  }

  %enter-end {
    .scroll-select-content {
      transform: translate3d(0, 0, 0);
      transition: transform .3s ease-in-out;
    }

    .scroll-select-close {
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }
  }

  %leave-start {
    .scroll-select-content {
      transform: translate3d(0, 0, 0);
    }

    .scroll-select-close {
      opacity: 1;
    }
  }

  %leave-end {
    .scroll-select-content {
      transform: translate3d(0, 100%, 0);
      transition: transform .3s ease-in-out;
    }

    .scroll-select-close {
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
  }
}
