html {
  height: 100%;
}

body {
  font: 16px/1 -apple-system, Helvetica, "Droid Sans", sans-serif;
  height: 100%;
  color: $color-mine-shaft;
  background: $color-white;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
