html {
  height: 100%;
  cursor: default;
  user-select: none;
}

// stylelint-disable selector-no-universal
// Reset box-sizing for all elements
// This is the only place can use universal selector
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration-skip: objects;
  color: inherit;
  outline: 0;
  background-color: transparent;
}

img {
  border-style: none;
}

main {
  display: block;
}

input,
textarea,
button {
  font: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

input::placeholder {
  opacity: 1;
  color: $color-sliver;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: transparent;
  appearance: none;
  -webkit-tap-highlight-color: $tap-highlight-color;

  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
}

a,
li,
button,
input,
textarea,
label {
  -webkit-tap-highlight-color: $tap-highlight-color;
}
