// stylelint-disable selector-no-universal
// Reset box-sizing for all elements
// This is the only place can use universal selector
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  cursor: default;
  user-select: none;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font: 16px/1 -apple-system, Helvetica, "Droid Sans", sans-serif;
  height: 100%;
  margin: 0;
  color: $color-mine-shaft;
}

main {
  display: block;
}

a {
  cursor: pointer;
  text-decoration-skip: objects;
  color: inherit;
  outline: 0;
  background-color: transparent;
}

img {
  border-style: none;
}

input,
textarea,
button {
  font: inherit;
  margin: 0;
  padding: 0;
  border-style: none;
  outline-style: none;
  appearance: none;
}

input::placeholder {
  opacity: .6;
  color: inherit;
}

textarea {
  overflow: auto;
  resize: none;
}

button {
  cursor: pointer;
  background: transparent;

  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
}
