// basic colors
$color-white:        #FFFFFF;
$color-mystic:       #E2E6ED;
$color-mischka:      #D2D6DC;
$color-alto:         #DDDDDD;
$color-wild-sand:    #F5F5F5;
$color-mercury:      #E1E1E1;
$color-gallery:      #F0F0F0;

$color-mine-shaft:   #333333;
$color-dusty-grey:   #999999;
$color-abbey:        #4B4F57;
$color-athens-grey:  #EFF1F5;
$color-shuttle-grey: #575C63;
$color-porcelain:    #EDEFF1;
$color-dove-grey:    #656565;

$color-radical-red:  #FF4769;

$color-neon-carrot:  #FF8B3F;
$color-sunglow:      #FFC333;
