// thin border
%border-thin {
  position: absolute;
  left: 0;
  width: 200%;
  height: 2px;
  content: "";
  transform: scale(.5, .5);
}


%border-thin-top {
  @extend %border-thin;

  transform-origin: 0 top;
}

%border-thin-bottom {
  @extend %border-thin;

  transform-origin: 0 bottom;
}
