// basic colors
$color-white:        #fff;
$color-mystic:       #e2e6ed;
$color-mischka:      #d2d6dc;
$color-alto:         #ddd;
$color-wild-sand:    #f5f5f5;
$color-mercury:      #e1e1e1;
$color-gallery:      #f0f0f0;

$color-mine-shaft:   #333;
$color-dusty-grey:   #999;
$color-abbey:        #4b4f57;
$color-athens-grey:  #eff1f5;
$color-shuttle-grey: #575c63;
$color-porcelain:    #edeff1;
$color-dove-grey:    #656565;
$color-mischka:      #d8dbe0;

$color-radical-red:  #ff4769;

$color-neon-carrot:  #ff8b3f;
$color-crusta:       #ff8933;
$color-sunglow:      #ffc333;

$color-outrageous-orange: #ff5433;

$color-malibu:       #68e1fe;

$color-froly:        #f87373;

$color-picton-blue:  #51b4f3;


$opacity-background: rgba(0, 0, 0, .5);
$tap-highlight-color: rgba(0, 0, 0, 0);
