@import "settings.colors";

.exception {
  &-info {
    text-align: center;
  }

  &-content {
    &-img {
      height: 86px;
      margin: 0 auto;
      background: url("../../asset/images/exception.png") no-repeat center;
      background-size: 110px;
    }

    &-tips {
      font-size: 14px;
      margin: 15px 0;
      color: $color-dusty-grey;
    }
  }

  &-footer {
    position: fixed;
    bottom: 10px;
    width: 100%;

    span {
      font-size: 12px;
      margin-right: 10px;
      color: $color-dusty-grey;
    }

    img {
      width: 44px;
    }
  }
}
