@import "settings.colors";

.uprow {
  position: relative;
  height: 8em;

  &::before {
    position: absolute;
    z-index: 2;
    top: 1px;
    bottom: 4px;
    left: -7px;
    width: 12px;
    content: "";
    background: radial-gradient(circle, #f1f1f1 6px, transparent 0);
    background-size: 12px 20px;
  }

  &::after {
    position: absolute;
    z-index: 2;
    top: 1px;
    right: -7px;
    bottom: 4px;
    width: 12px;
    content: "";
    background: radial-gradient(circle, #f1f1f1 6px, transparent 0);
    background-size: 12px 20px;
  }
}

.uprow-leftpart {
  float: left;
  width: 64%;
  height: 100%;
  padding: 1em 1.5em;
  color: #fff;
  background: #ccc;

  &-value {
    position: relative;
    white-space: pre-wrap;
    height: 100%;

    .discount-num {
      font-size: 2.5em;
      vertical-align: -2px;
    }

    .expense-condition {
      font-size: 22px;
      display: block;
      width: 200%;
      word-break: break-all;
      transform: scale(.5, .5);
      transform-origin: left center;
    }

    .detail-click {
      font-size: 12px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .detail-click .arrowdown {
      display: inline-block;
      width: 1em;
      height: .5em;
      margin-left: .5em;
      background: url("../../asset/images/arrow-down-white.svg") center center/1em auto no-repeat;
    }

    .detail-click .arrowup {
      display: inline-block;
      width: 1em;
      height: .5em;
      margin-left: .5em;
      background: url("../../asset/images/arrow-up-white.svg") center center/1em auto no-repeat;
    }
  }
}

.uprow-rightpart {
  display: flex;
  overflow: hidden;
  height: 100%;
  color: #474747;
  border-bottom: 1px solid #e3e3e3;
  background: $color-white;
  align-items: center;
  justify-content: center;

  .validity {
    line-height: 1.4em;
    text-align: center;

    &-date {
      font-size: 14px;
      line-height: 1.4em;
      display: block;
      text-align: center;
      color: $color-dusty-grey;
    }
  }
}

.downrow {
  display: none;
  padding: .8em 1em;
  background: $color-white;

  &.show {
    display: block;
  }

  &-no {
    font-size: 14px;
    line-height: 2em;
    color: #666;
  }

  &-item {
    font-size: 13px;
    line-height: 1.6em;
    position: relative;
    padding-left: 1em;
    color: #666;

    &::before {
      position: absolute;
      top: .4em;
      left: .3em;
      width: .313em;
      height: .313em;
      content: "";
      border-radius: 1em;
      background: #666;
    }
  }
}

@media screen and (max-width: 320px) {
  .uprow-leftpart {
    padding: 1em;
  }
}
