@import 'settings.colors';

.sex-switch{
      height:100%;
      *{
         display:inline-block;
         padding:0.357em 0.6em;
         margin-left:0.8em;
         border:1px solid #d1d7de;
         border-radius:1em;
         font-size:14px;
         font-style: normal; 
         color:$color-dusty-grey;
         &.active{
             background:#f37e53;
             color:$color-white;
             border-color:#f37e53;
         }
      }
}