@import "settings.colors";

.sex-switch {
  &-label {
    display: inline-block;
    margin-right: 1em;
  }

  &-round {
    display: inline-block;
    width: 1.375em;
    height: 1.375em;
    margin-right: .5em;
    vertical-align: middle;
    border: 1px solid $color-mercury;
    border-radius: 1em;
    background: url("../../asset/images/chosen.svg") center center/1em auto no-repeat $color-mercury;

    &.active {
      border-color: $color-crusta;
      background-color: $color-crusta;
    }
  }

  &-name {
    font-style: normal;
    vertical-align: middle;
  }
}
