.shop-info {
  &-icon {
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
  }

  &-name {
    font-size: 17px;
    line-height: 30px;
    display: block;
    margin-left: 40px;
  }
}
