@import 'settings.colors';
*{font-family: "微软雅黑";}

$width:100%;

$none:none;
.fr{
    float:right;
}
.of{
    overflow:hidden;
}
.border-none{
    border:1px solid #ccc;
    border-radius:3px;
    outline:$none;
}

.up-block{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1 !important;
    z-index:11;
}
.header-bg{
    position: relative;
    height: 7.75em;
    img{
        position: absolute;
        left: 50%;
        top: 100%;
        margin: -3.65em 0 0 -2.5em;
        width: 5em;
        height: 5em;
        border-radius: 3em;
        border: 3px solid rgba(255,255,255,0.33);
        z-index: 1;
    } 
}

.header-bg-light-outer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.2em;
    width: 100%;
    overflow: hidden;
}

.header-bg-light {
    width: 100%;
    height: 100%;
    background: url("../../asset/images/arc.png") center center no-repeat;
    background-size: 100% 100%;
}

h1 {
    padding: 1.5em 1em 0.8em;
    font-size: 1.125em;
    font-weight: bold;
    color: #333;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #f0f3f6;
    line-height:1.2em;
}

.line-up {
    width: 100%;
    height: 0.5em;
    background: #f5f5f5;
}

ul.method-ul {
    border-top:1px solid #f0f3f6;
    background:#fff;
  li {
        float:left;
        width:25%;
        text-align:center;
        border-bottom:1px solid #f0f3f6;
        border-right:1px solid #f0f3f6;
        a{
            display:block;
            padding:1em 0;
            text-align:center;
            -webkit-tap-highlight-color:transparent;
            text-decoration:none; 
            
        }
        img {
            margin-bottom:0.5em;
            width:auto;
            height:1.8em;
        }
        i {
            display:inline-block;
            margin-bottom:0em;
            width:1.8em;
            height:1.8em;
            background:url(../../asset/images/index-spirit.png) left top no-repeat;
            background-size:15.6em auto;
            &[name='YD'] {
                background-position:0.2em 0.25em;
            }
            &[name='WM'] {
                background-position:-1.6em 0.15em;
            }
            &[name='ST'] {
                background-position:-3.8em 0.25em;
            }
            &[name='TS'] {
                background-position:-3.4em 0.3em;
            }
            &[name='PD'] {
                background-position:-5.2em 0.25em;
            }
            &[name='CJ'] {
                background-position:-6.9em 0.25em;
            }
            &[name='CZ'] {
                background-position:-8.8em 0.25em;
            }
            &[name='HY'] {
                background-position:-10.6em 0.25em;
            }
            &[name='YHQ'] {
                background-position:-12.6em 0.25em;
            }
            &[name='WD'] {
                background-position:-8.8em -1.9em;
            }
        }
        p {
            font-size:13px;
            color:#333;
        }
   }
}






