@import 'settings.colors';
*{font-family: "微软雅黑";}

$width:100%;

$none:none;
.fl{
    float:left;
}
.fr{
    float:right;
}
.of{
    overflow:hidden;
}
%omit{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.border-none{
    border:1px solid #ccc;
    border-radius:3px;
    outline:$none;
}

.shopList-ul{
    background:#fff;
    li{
        padding:0.5em 1em;
        border-bottom:1px solid #eaeaea;
        img{
            width:50px;
            height:50px;
        }
        div{
            padding:0 0.5em;
            &.of{height:50px;}
            p.title{
                line-height:1.5em;
                @extend %omit;
            }
            p.info{
                padding:0.2em 0;
                font-size:12px;
                i{
                    display:inline-block;
                    margin-right:0.5em;
                    padding:0.2em;
                    font-style:normal;
                    border-radius:3px;
                }
                span{
                    color:#999;
                }
            }
        /*******/
            &.small-icon{
                    padding: 0.25em 0 0;
                    width: 4.43em;
                    height: 50px;
            }
        }
    }
    
}



.small-icon i{float:left;margin-right:0.125em;width:1em;height:1em;background:url(../../asset/images/index-spirit.png) left top no-repeat;background-size:15.625em auto;border-radius:2px;}
.small-icon i:last-child{margin-right:0;}
.small-icon i[title="WM"]{background-position:left -3.8em;}
.small-icon i[title="YD"]{background-position:-1.5em -3.8em}
.small-icon i[title="TS"]{background-position:-2.95em -3.8em;}
.small-icon i[title="PD"]{background-position:-4.45em -3.8em;}
