@import "settings.colors";

.scroll-select-container {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scroll-select-close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $opacity-background;
}

.scroll-select-content {
  position: absolute;
  z-index: 10;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color-white;
}

.scroll-select-header {
  font-size: 17px;
  line-height: 40px;
  overflow: hidden;
  padding-left: 10px;
  color: $color-mine-shaft;
  box-shadow: inset 0 -1px 0 $color-alto, inset 0 1px 0 $color-alto;
}

.scroll-select-confirm {
  float: right;
  width: 80px;
  height: 40px;
}


// select columns' width
.flex-area-select {
  flex: 4;
}

.flex-table-select {
  flex: 6;
}
