@import "settings.colors";
@import "tools.mixins";

dl,
dd {
  margin: 0;
}

// address select header
.addrselect-header {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 8px 15px;
  background: $color-white;
  box-shadow: 0 2px 4px $color-mercury;
}

.addrselect-search {
  &box {
    display: block;
    width: 100%;
    height: 34px;
    border-radius: 4px;
    background: $color-gallery;
  }

  &box.is-empty button {
    display: none;
  }

  &-input {
    font-size: 15px;
    line-height: 20px;
    float: left;
    width: calc(100% - 80px);
    height: 20px;
    margin-top: 7px;
    border: 0;
    background: transparent;

    &::placeholder {
      color: $color-dusty-grey;
    }
  }

  &-icon {
    float: left;

    &::before {
      display: block;
      width: 34px;
      height: 34px;
      content: "";
      background-image: url("../../../asset/images/location-grey.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px 18px;
    }
  }

  &-close {
    display: block;
    float: right;

    &::before {
      display: block;
      width: 34px;
      height: 34px;
      content: "";
      background-image: url("../../../asset/images/input-cancel.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px 18px;
    }
  }
}

.addrselect-mask {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: $opacity-background;
}

// header suggestions dorpdown
.addrselect-suggestions {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  border-top: 1px solid $color-mercury;
  background: $color-white;
}

.addrselect-suggestion {
  font-size: 14px;
  line-height: 16px;
  display: block;
  width: 100%;
  padding: 10px 15px 8px;
  text-align: left;
  color: $color-dove-grey;
  border-bottom: 1px solid $color-gallery;

  > small {
    font-size: 12px;
    margin-left: 10px;
    color: $color-dusty-grey;

    &::before {
      content: "一";
    }
  }
}

// address map
.addrselect-map {
  position: relative;
  width: 100%;
  // stylelint-disable declaration-block-no-duplicate-properties
  // Need for android 4.2 ~ 4.3
  height: 220px;
  height: 40vh;

  &::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    content: "";
    background-image: url("../../../asset/images/pin.png");
    background-size: cover;
  }

  &-inner {
    width: 100%;
    height: 100%;
  }

  &-loading {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-cur {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
  }

  &-center {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: $color-white;
    background-image: url("../../../asset/images/current-location.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    box-shadow: 0 2px 4px $color-mercury;
  }

  .BMap_Marker {
    > div {
      background: url("../../../asset/images/map-marker-cur.png") no-repeat center center;
    }

    img {
      display: none;
    }
  }

  &-isdefultpoint {
    .BMap_Marker {
      > div {
        background: url("../../../asset/images/map-marker-cur-default.png") no-repeat center center;
      }
    }
  }
}

// address list
.addrselect-list {
  > li:first-child {
    .addrselect-list-title {
      color: $color-neon-carrot;
    }

    .addrselect-list-item::before {
      background-image: url("../../../asset/images/location-orange.png");
    }
  }

  &-item {
    position: relative;
    display: block;
    width: 100%;
    padding: 11px 10px 0 40px;
    text-align: left;

    &::before {
      position: absolute;
      z-index: 1;
      top: 22px;
      left: 15px;
      width: 15px;
      height: 18px;
      content: "";
      background-image: url("../../../asset/images/location-grey.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px 18px;
    }
  }

  &-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    position: relative;
    margin-bottom: 4px;
    color: $color-dove-grey;
  }

  &-address {
    font-size: 15px;
    line-height: 21px;
    padding-bottom: 11px;
    color: $color-dusty-grey;
    border-bottom: 1px solid $color-gallery;
  }
}

.city-select {
  font-size: 16px;
  line-height: 34px;
  position: relative;
  display: block;
  min-width: 56px;
  height: 34px;
  margin-right: 15px;
  padding: 0 19px 0 5px;

  &::before {
    position: absolute;
    top: 9px;
    right: 0;
    width: 16px;
    height: 16px;
    content: "";
    background: url("../../../asset/images/arrow-top-grey.svg") no-repeat center center;
    background-size: 16px 9px;
    transform: rotate(180deg);
  }
}

.city {
  &-popup {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 0 15px 10px;
    background: $color-white;
  }

  &-title {
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    height: 30px;
    margin: 0 -15px;
    padding: 0 15px;
    color: $color-dove-grey;
    background: $color-wild-sand;
  }

  &-list {
    position: relative;
    overflow: hidden;
    padding: 0;

    &::before,
    &::after {
      position: absolute;
      top: 10px;
      bottom: 10px;
      display: block;
      width: 2px;
      content: "";
      border-left: 1px solid $color-mercury;
      transform: scale(.5, 1);
    }

    &::before {
      left: 33%;
    }

    &::after {
      left: 66%;
    }

    a {
      font-size: 15px;
      line-height: 50px;
      float: left;
      width: 33%;
      height: 50px;
      text-align: center;
      color: $color-dove-grey;
    }
  }
}

.city-list-border {
  @include border-thin(top);

  position: absolute;
  right: 0;
  left: 0;
  height: 1px;
  border-bottom: 1px solid $color-mercury;
  background: $color-mercury;
}

.city-expand {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .city-select {
    &::before {
      top: 7px;
      transform: rotate(0);
    }
  }
}
