@import "settings.colors";
@import "settings.sizes";
@import "tools.mixins";

.counter {
  @include clearfix;

  float: right;

  &-minus,
  &-add {
    position: relative;
    display: block;
    float: left;
    width: $counter-size;
    height: $counter-size;
    border: 1px solid $color-mystic;
    border-radius: 50%;
    background: $color-white;

    &::before,
    &::after {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: "";
      border-radius: 1px;
      background: $color-texas-rose;
    }

    &::before {
      width: 14px;
      height: 2px;
    }
  }

  &-add {
    border-color: $color-texas-rose;
    background: $color-texas-rose;

    &::before,
    &::after {
      background: #fff;
    }
  }

  &-minus::after {
    width: 0;
    height: 0;
  }

  &-num {
    font-size: 15px;
    line-height: $counter-size - 2;
    float: left;
    min-width: 26px;
    padding: 0 2px;
    text-align: center;
  }

  &-add::after {
    width: 2px;
    height: 14px;
  }

  &-click-mask {
    $mask-extend-size: -($counter-size / 3);

    position: absolute;
    z-index: 10;
    top: $mask-extend-size;
    right: $mask-extend-size;
    bottom: $mask-extend-size;
    left: $mask-extend-size;
    background: transparent;
  }

  &-min > &-minus::before {
    background: darken($color-mischka, 10%);
  }

  &-min--nonum {
    > .counter-minus,
    > .counter-num {
      display: none;
    }

    .counter-add {
      border-color: lighten($color-mischka, 5%);
      background: #fff;

      &::before,
      &::after {
        background: $color-texas-rose;
      }
    }
  }

  &-max > &-add {
    border: 1px solid $color-sliver;
    background: $color-sliver;

    &::before,
    &::after {
      background: #fff;
    }
  }
}

