@import "settings.colors";
@import "settings.sizes";
@import "tools.mixins";

.customers-counter {
  $border-color: lighten($color-mischka, 5%);

  @include clearfix;

  float: right;

  &-minus,
  &-add {
    position: relative;
    display: block;
    float: left;
    width: $counter-size;
    height: $counter-size;
    border: 1px solid $border-color;
    background: $color-white;

    &::before,
    &::after {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: "";
      border-radius: 1px;
      background: $color-dove-grey;
    }

    &::before {
      width: 12px;
      height: 2px;
    }
  }

  &-minus {
    border-radius: 4px 0 0 4px;

    &::after {
      width: 0;
      height: 0;
    }
  }

  &-add {
    border-radius: 0 4px 4px 0;
  }

  &-num {
    font-size: 15px;
    line-height: $counter-size - 2;
    float: left;
    width: 42px;
    text-align: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: $border-color;
    border-radius: none;
  }

  &-add::after {
    width: 2px;
    height: 12px;
  }

  &-min > &-minus::before {
    background: darken($color-mischka, 10%);
  }

  &-min--nonum {
    > .counter-minus,
    > .counter-num {
      display: none;
    }
  }

  &-max > &-add {
    &::before,
    &::after {
      background: darken($color-mischka, 10%);
    }
  }
}
