@import "settings.colors";

.loading-hover {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  text-align: center;
  background: rgba(0, 0, 0, .1);
  align-items: center;
  justify-content: center;
}

.load {
  &-div {
    display: inline-block;
    max-width: 8em;
  }

  &-img {
    width: 2.5em;
  }

  &-word {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4em;
    margin: .2em 0;
    color: #999;
  }
}
