@import "settings.colors";

.loading-hover {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, .1);
}

.span-null {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.load {
  &-div {
    display: inline-block;
    max-width: 8em;
    vertical-align: middle;
  }

  &-img {
    width: 2.5em;
  }

  &-word {
    font-size: 14px;
    font-weight: bold;
    margin: .2em 0;
    color: #999;
  }
}
