@import 'settings.colors';

.loading-hover{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(0,0,0,0.1);
    z-index:1;
    text-align:center;
}
.span-null{
    display:inline-block;
    height:100%;
    vertical-align: middle;
}

.load{
    &-div{
        display:inline-block;
        vertical-align: middle;
        max-width:5em;
    }
    &-img{
        width:2.5em;
    }
    &-word{
        margin:0.2em 0;
        font-size:14px;
        color:#999;
        font-weight:bold;
    }
}