@import "settings.colors";
@import "tools.functions";
@import "tools.mixins";

.progress {
  $full: 100%;
  $none: none;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: $full;
  height: $full;
  text-align: center;
  background: transparent;

  .middle {
    display: inline-block;
    height: $full;
    vertical-align: middle;
  }

  &-holder {
    font-size: 14px;
    display: inline-block;
    width: 15em;
    padding: 1em 0;
    vertical-align: middle;
    color: $color-white;
    border-radius: 5px;
    background: rgba(0, 0, 0, .6);
  }

  .bar {
    display: block;
    width: 12em;
    height: .5em;
    margin: 0 auto 1em;
    border: bordersolid(1, #fff);
    border-radius: 2px;

    &-inner {
      display: block;
      width: 0;
      height: $full;
      background: $color-white;
    }

    &-inner-animation {
      width: $full;
      transition: all 2s linear;
    }
  }

  .vh {
    visibility: hidden;
    height: 0;
    margin: 0;
    opacity: 0;
  }
}


