@import "settings.colors";

.dish-mesthead {
  position: relative;
  height: 84px;
  padding: 0 15px;
  background: $color-orange-red;
  transition: top, .1s cubic-bezier(.1, .57, .1, 1);

  &.ads-existed {
    height: 110px;
  }

  .ads-column {
    line-height: 18px;
    position: absolute;
    top: 85px;
    left: 0;
    height: 18px;
    padding: 0 15px 0 14px;
    background: none;
  }
}

.register {
  a {
    line-height: 29px;
    float: right;
    height: 29px;
    margin: 7px 0 0;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background: $color-crusta;
  }
}

.shop {
  padding: 15px 0;

  &-logo {
    float: left;
    width: 57px;
    height: 57px;
    margin: -3px 14px 0 -2px;
    border: 2px solid rgba($color-orange-dark, .3);
    border-radius: 50%;
  }

  &-title,
  &-time {
    overflow: hidden;
    color: #fff;
  }

  &-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    display: block;
    height: 22px;
    margin: 1px 0 7px;
  }

  &-time {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    color: $color-neon-carrot;
    border-radius: 10px;
    background: #fff;

    &-close {
      color: #fff;
      background: $color-silver;
    }
  }
}

.notice {
  font-size: 14px;
  line-height: 44px;
  position: relative;
  z-index: 1;
  height: 44px;
  padding: 0 15px 0 32px;
  background: $color-light-sand url("../../asset/images/ads.svg") no-repeat 10px 14px;
  background-size: 16px 16px;
}

.ads-column {
  font-size: 13px;

  .ads-more {
    line-height: 18px;
  }

  .content {
    height: 18px;
    margin-bottom: 12px;

    .detail-inner {
      font-size: 1em;
      line-height: 18px;
      transform: none;
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}

