@import "settings.colors";
@import "settings.sizes";
@import "tools.mixins";

.dish-scroller {
  overflow: hidden;
  height: calc(100% - #{$cart-trigger-height});
  margin-left: $dish-type-scroller-width;
  padding: 0 8px;
  background: $color-white;
  text-size-adjust: none;
}

.dish-item-type {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  clear: both;
  margin-right: -15px;
  margin-left: -15px;
  padding: 5px 10px;
  color: $color-dove-grey;
  background: #f8f8f8;

  // overwride border-top of the first .dish-item-dish from each type
  + .dish-item-dish {
    border-top: 0;

    &::before {
      display: none;
    }
  }
}

.dish-item-dish {
  position: relative;

  &::before {
    @include border-thin(top);

    top: 0;
    border-top: 1px solid $color-mercury;
  }
}


.dish-type-desc {
  color: lighten($color-dusty-grey, 10%);
}

.big,
.huge {
  .dish-scroller {
    height: calc(100% - 44px);
    padding: 0 15px;
  }

  .dish-item-type {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  .dish-item-dish {
    &::before {
      display: none;
    }
  }
}

.big {
  .dish-scroller {
    padding: 0 10px;
  }
}

.default {
  .dish-scroller {
    padding: 0 0 0 15px;
  }
}

.huge {
  .dish-item-type {
    margin-bottom: 0;
  }
}
