@import "settings.colors";
@import "settings.sizes";

.dish-type-scroller {
  float: left;
  overflow: hidden;
  width: $dish-type-scroller-width;
  height: calc(100% - #{$cart-trigger-height});
  color: $color-dove-grey;
  background: $color-gallery;
}

.dish-type-item {
  line-height: 60px;
  position: relative;
  min-height: 60px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid $color-mystic;
  outline: 0;

  &::before {
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 2px;
    padding: 0 .4em;
    content: attr(data-count);
    color: $color-white;
    border-radius: 8px;
    background: $color-radical-red;
  }

  &::after {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: transparent;
  }

  > span {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    margin-top: -1px;
    padding: 1em .5em;
    vertical-align: middle;
  }

  &.is-active {
    color: $color-neon-carrot;
    background: $color-white;
    box-shadow: inset 4px 0 0 $color-neon-carrot;
  }
}

.big,
.huge {
  .scroll-wrapper {
    width: 10000000px;
  }

  .dish-type-list {
    display: inline-block;
  }

  .dish-type-scroller {
    float: none;
    width: auto;
    height: 44px;
    border-bottom: 1px solid $color-mystic;
    background: none;
  }

  .dish-type-item {
    line-height: 43px;
    display: inline-block;
    height: 43px;
    min-height: 43px;
    padding: 0 15px;
    border-bottom: none;

    &::before {
      top: 2px;
      right: 2px;
    }

    > span {
      font-size: 15px;
      position: relative;
      margin: 0;
      padding: 0 1px;
    }

    &.is-active {
      box-shadow: none;
    }
  }

  .dish-scroller {
    margin-left: 0;
  }

  .is-active > span::after {
    position: absolute;
    right: 0;
    bottom: -12px;
    left: 0;
    height: 2px;
    content: "";
    background: $color-neon-carrot;
  }
}


