@import "settings.colors";
@import "settings.sizes";

.dish-scroller {
  overflow: hidden;
  height: calc(100% - #{$cart-trigger-height});
  margin-left: $dish-type-scroller-width;
  padding: 0 8px;
  background: $color-white;
  text-size-adjust: none;
}

.dish-item-type {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  clear: both;
  min-height: 30px;
  margin-right: -10px;
  margin-left: -10px;
  padding: 6px 10px 4px;

  // overwride border-top of the first .dish-item-dish from each type
  + .dish-item-dish {
    border-top: 0;
  }
}

.dish-item-dish {
  border-top: 1px solid $color-alto;
}

.dish-type-desc {
  color: lighten($color-dusty-grey, 10%);
}

.big,
.huge {
  .dish-item-dish {
    float: left;
    width: calc(50% - 10px);
    margin: 0 5px;
    padding: 5px 0;
    border: none;
  }

  .dish-list-item {
    height: auto;
    padding: 0;
    border: 1px solid $color-mercury;
  }

  .dish-item-img {
    display: block;
    float: none;
    width: 100%;
    height: 120px;
    border-radius: 0;
  }

  .dish-item-content {
    float: none;
    overflow: hidden;
    width: 100%;
    min-height: 78px;
    padding: 5px 7px;
  }

  .dish-item-type {
    margin-left: 0;
  }
}

.default {
  .dish-scroller {
    padding: 0 0 0 15px;
  }

  .dish-item-type {
    position: relative;
    top: 10px;
    min-height: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .dish-item-dish {
    border-top: none;
    border-bottom: 1px solid $color-mercury;

    &:last-child {
      border: none;
    }
  }
}

.huge {
  .dish-item-dish {
    width: 100%;
    margin: 0;
  }

  .dish-item-img {
    display: block;
    float: none;
    width: 100%;
    height: 260px;
    border-radius: 0;
  }

  .counter-add,
  .counter-minus {
    width: 34px;
    height: 34px;

    &::before {
      width: 18px;
    }

    &::after {
      height: 18px;
    }
  }

  .counter-num {
    line-height: 34px;
  }
}

.big,
.cart-ordered-list {
  .counter-add,
  .counter-minus {
    width: 24px;
    height: 24px;

    &::before {
      width: 12px;
    }

    &::after {
      height: 12px;
    }
  }

  .counter-num {
    line-height: 24px;
  }
}

.counter-add,
.counter-minus {
  &::before {
    width: 14px;
  }

  &::after {
    height: 14px;
  }
}

.counter-num {
  line-height: 29px;
}

.counter-add {
  border-color: #fdc245;
  background: #fdc245;

  &::before,
  &::after {
    background: #fff;
  }
}

.counter-min--nonum {
  .counter-add {
    border-color: lighten($color-mischka, 5%);
    background: #fff;

    &::before,
    &::after {
      background: $color-neon-carrot;
    }
  }
}
