@import 'settings.colors';
@import 'settings.sizes';

.dish-list-item {
  overflow: hidden;
  padding: 10px 0;
}

.dish-item {
  $dish-image-size: 65px;

  &-img {
    float: left;
    width: $dish-image-size;
    height: $dish-image-size;
    border-radius: 4px;
    background: $color-porcelain;
  }

  &-content {
    overflow: hidden;
    margin-left: $dish-image-size + 8;
  }

  &-name {
    $dish-item-name-line-height: 20px;

    font-size: 16px;
    line-height: $dish-item-name-line-height;
    display: block;
    clear: both;
    margin-bottom: .5em;
    padding: ($counter-size - $dish-item-name-line-height)/2 0;
  }

  &-price {
    font-size: 17px;
    font-weight: bold;
    line-height: $counter-size;
    float: left;
    color: $color-neon-carrot;

    &::before {
      font-size: 12px;
      content: '￥';
    }
  }
}
