@import "settings.colors";
@import "settings.sizes";

.dish-scroller {
  overflow: hidden;
  height: calc(100% - #{$cart-trigger-height});
  margin-left: $dish-type-scroller-width;
  padding: 0 8px;
  background: $color-white;
  text-size-adjust: none;
}

.dish-item-type {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  clear: both;
  height: 30px;
  margin-right: -15px;
  margin-left: -15px;
  padding: 0 10px;
  color: $color-dove-grey;
  background: #f8f8f8;

  // overwride border-top of the first .dish-item-dish from each type
  + .dish-item-dish {
    border-top: 0;
  }
}

.dish-item-dish {
  border-top: 1px solid $color-alto;
}

.dish-type-desc {
  color: lighten($color-dusty-grey, 10%);
}

.default {
  .dish-scroller {
    padding: 0 0 0 15px;
  }
}

.big,
.huge {
  .dish-scroller {
    padding: 0 15px;
  }

  .dish-item-type {
    padding: 0 15px;
  }
}

