@import "settings.colors";

.dish-mesthead {
  position: relative;
  min-height: 130px;
  padding: 0 15px;
  background: $color-orange-red;

  &.ads-existed {
    padding-bottom: 34px;
  }

  &.register {
    padding-top: 44px;
  }

  .ads-column {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: 15px;
    padding-left: 15px;
    background: none;
  }
}

.register {
  margin: 0 -15px;

  a {
    line-height: 30px;
    float: right;
    height: 30px;
    margin: 7px 15px 0 0;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background: $color-crusta;
  }
}

.shop {
  padding: 20px 15px 15px 0;

  &-logo {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    border: 3px solid #e47743;
    border-radius: 50%;
  }

  &-title,
  &-time {
    overflow: hidden;
    color: #fff;
  }

  &-title {
    font-size: 19px;
    display: block;
    height: 1em;
    margin: 10px 0;
  }

  &-time {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    border-radius: 10px;
    background: $color-sunglow;

    &-close {
      background: $color-silver;
    }
  }
}

.notice {
  font-size: 14px;
  line-height: 44px;
  height: 44px;
  padding: 0 0 0 32px;
  background: $color-light-sand url("../../asset/images/ads.svg") no-repeat 10px 14px;
  background-size: 16px 16px;
}
