@import "settings.colors";
@import "settings.sizes";

.dish-type-scroller {
  float: left;
  overflow: hidden;
  width: $dish-type-scroller-width;
  height: calc(100% - #{$cart-trigger-height});
  background: $color-athens-grey;
  box-shadow: inset -1px 0 0 $color-mystic;

  &-full {
    height: 100%;
  }
}

.dish-type-item {
  line-height: 64px;
  position: relative;
  min-height: 64px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid $color-mystic;
  outline: 0;
  -webkit-tap-highlight-color: $tap-highlight-color;

  &::before {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 0 .4em;
    content: attr(data-count);
    color: $color-white;
    border-radius: 8px;
    background: $color-radical-red;
  }

  &::after {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: transparent;
  }

  > span {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    margin-top: -1px;
    padding: 1em .5em;
    vertical-align: middle;
  }

  &.is-active {
    color: $color-neon-carrot;
    background: $color-white;
    box-shadow: inset 4px 0 0 $color-neon-carrot;
  }
}
