.o-btn--yellow {
  text-align: center;
  color: $color-white;
  background: $color-sunglow;
}

.o-btn--trigger {
  font-size: 12px;
  line-height: $count-editor-size;
  float: right;
  height: $count-editor-size;
  padding: 0 .8em;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: $count-editor-size / 2;
  outline: none;
}
