// flex layout
.flex-columns {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-none {
  flex: none;
}

.flex-rest {
  overflow: auto;
  flex: 1;
  -webkit-overflow-scrolling: touch;
}


// float layout
.clearfix {
  @include clearfix;
}
.half {
  float: left;
  width: 50%;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.of{
    overflow:hidden;
}
span.middle{
    display:inline-block;
    height:100%;
    vertical-align: middle;
}
// word layout
.omit{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}