// flex layout
.flex-columns {
  display: flex;
  flex-direction: column;
  height: 100%;

  > button {
    display: block;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;

  > button {
    display: block;
  }
}

.flex-none {
  flex: none;
}

.flex-rest {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1;
}


// float layout
.clearfix {
  @include clearfix;
}

.half {
  float: left;
  width: 50%;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.of {
  overflow: hidden;
}

.middle {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
