.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-dove-grey {
  color: $color-dove-grey; // #666
}

.text-dusty-grey {
  color: $color-dusty-grey; // #999
}

.text-picton-blue {
  color: $color-picton-blue; // #51b4f3
}

.text-froly {
  color: $color-froly; // #f87373
}

.text-neon-carrot {
  color: $color-neon-carrot; // ##ff7417
}

.text-crusta {
  color: $color-crusta; // #ff7e28;
}

.text-mine-shaft {
  color: $color-mine-shaft; // #333;
}
