@import "settings.colors";

.options-group {
  border-top: 0 none;
  border-bottom-color: #e3e3e3;
}

// reset option layout
.option {
  padding: 19px 15px 18px;
  $option-left-width: 90px;

  &-title {
    width: $option-left-width;
  }

  &-content {
    width: calc(100% - #{$option-left-width});
  }

  &-input {
    color: #666;
  }

  &.error {
    color: #f00;

    .customer-address-placeholder {
      color: #999;
    }
  }
}

// page styles
.customer-address-page {
  min-height: 100%;
  background: $color-gallery;
}

.customer {
  &-name {
    float: left;
    width: 40%;
  }

  &-gender {
    display: inline-block;
    width: calc(100% - 90px);

    label {
      display: inline-block;
      margin-right: 20px;
    }

    .option-desc {
      color: #666;
    }
  }

  &-address {
    position: relative;
    display: block;
    height: 22px;
    text-decoration: none;

    &-text {
      float: left;
      width: calc(100% - 20px);
      color: #666;

      &:not(:empty) + .customer-address-placeholder {
        display: none;
      }
    }

    &-placeholder {
      color: #666;
    }
  }

  &-address-delete {
    line-height: 44px;
    display: block;
    height: 44px;
    margin: 10px 15px 0;
    text-align: center;
    color: #ef4646;
    border-radius: 4px;
    background-color: #fff;
  }
}

.btn-address {
  line-height: 44px;
  display: block;
  height: 44px;
  margin: 15px 15px 0;
  border-radius: 4px;
}
