@import "settings.colors";

body {
  font-weight: 200;
  background-color: #f1f1f1;
}

.masthead {
  padding: 0 0 24px;
  text-align: center;
  color: #fff;
  background: $color-azure;

  &-total {
    font-size: 45px;
    padding-top: 32px;
  }

  &-title {
    font-size: 14px;
    margin-top: 5px;
  }
}

.detail {
  min-height: calc(100% - 120px - 45px);

  &-title {
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    padding: 0 15px;
    color: $color-dove-grey;
    border-bottom: 1px solid #eaeaea;
  }
}

.list-amount {
  overflow: hidden;
  white-space: nowrap;

  .symbol {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0;
      margin: auto;
      content: " ";
      border-radius: 1px;
      background: $color-dove-grey;
    }

    &::before {
      width: 12px;
      height: 2px;
    }
  }
}

.positivenum {
  color: $color-azure;

  .symbol {
    color: $color-azure;

    &::before {
      background: $color-azure;
    }

    &::after {
      width: 2px;
      height: 12px;
      background: $color-azure;
    }
  }
}

.btn--azure {
  background: $color-azure;
}


.masthead-discription {
  &-title {
    font-size: 12px;
    float: right;
    margin: 10px 15px 0;
    padding: 1px 0 0 18px;
    background: url("../../asset/images/info.svg") 1px 0 no-repeat;
    background-size: contain;
  }

  &-content {
    font-size: 15px;
    line-height: 25px;
    padding: 5px 0;
    text-align: left;

    label {
      font-weight: 400;
      float: left;
      margin-right: 10px;
    }

    p {
      overflow: hidden;
      white-space: pre-wrap;
    }
  }
}
