@import 'settings.colors';

.btn {
	display: inline-block;
	padding: 0.5em 2em;
	border-radius: 4px;
	// font-size: 14px;
	text-decoration: none;
}

.bind-account {
	text-align: center;
	line-height: 1.4em;
}

.text-success {
	color: #33d371;
}

.mt40 {
	margin-top: 40px;
}

.mt20 {
	margin-top: 20px;
}

// account-content
.account-info {
	margin-bottom: 50px;

	&-state {
		font-size: 18px;
	}

	&-tips {
		font-size: 12px;
		color: $color-dusty-grey;
	}

	&-current {
		font-size: 14px;
		color: $color-dusty-grey;
	}

	&-userName {
		font-size: 20px;
	}

	&-head {
		text-align: center;
		margin: 40px 0 15px;
	}
}

.phone-img-grey {
	background: url(../../asset/images/phone_grey.png) no-repeat center center;
}

.phone-img-green {
	background: url(../../asset/images/phone_green.png) no-repeat center center;
}

.phone-img-grey, .phone-img-green {
	height: 80px;
	margin-bottom: 20px;
	background-size: 50px;
}

.wx-img-grey {
	height: 60px;
	margin-bottom: 20px;
	background: url(../../asset/images/wx_grey.png) no-repeat center center;
	background-size: 70px;
}

.wx-head {
	width: 65px;
	height: 65px;
}
