@import "settings.colors";

.bind-phone-validate {
  padding: 10px 15px;
}

.bind-account {
  line-height: 1.4em;
  text-align: center;
}

.btn-bind {
  width: 100%;
  margin-top: 20px;
}

.text-success {
  color: #33d371;
}

.mt40 {
  margin-top: 40px;
}

.mt20 {
  margin-top: 20px;
}

// account-content
.account-info {
  margin-bottom: 50px;

  &-state {
    font-size: 18px;
  }

  &-tips {
    font-size: 12px;
    color: $color-dusty-grey;
  }

  &-current {
    font-size: 14px;
    color: $color-dusty-grey;
  }

  &-username {
    font-size: 20px;
  }

  &-head {
    margin: 40px 0 15px;
    text-align: center;
  }
}

.phone-img-grey {
  background: url("../../asset/images/phone_grey.png") no-repeat center center;
}

.phone-img-green {
  background: url("../../asset/images/phone_green.png") no-repeat center center;
}

.phone-img-grey,
.phone-img-green {
  height: 80px;
  margin-bottom: 20px;
  background-size: 50px;
}

.btn {
  display: inline-block;
  padding: .5em 2em;
  text-decoration: none;
  border-radius: 4px;
}

