@import "settings.colors";

// 浮层
.float-layer {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
  }

  &-content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    max-height: 100%;
    background: #f1f1f1;
  }

  &-inner {
    background: #fff;
  }

  .bill-info {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.385em;
    position: relative;
    padding: 1em 0;
    text-align: center;
    color: #474747;
    border-bottom: 1px solid #eaeaea;
  }

  .bill-close {
    position: absolute;
    top: 50%;
    right: 1em;
    width: 1em;
    height: 1em;
    margin-top: -.5em;
    background: url("../../asset/images/close.svg") center center/100% 100% no-repeat;
  }
}

.options-group.options-group-spe {
  margin: 1em 0 2em;
  background: #fff;

  .option {
    font-size: 15px;
    padding: 1em 0;
  }
}

.totalPrice {
  font-size: 15px;
  padding: 1em;
  text-align: right;
  color: #999;

  .num {
    font-weight: bold;
    color: #ff7417;
  }

  .part {
    margin-right: 3em;
  }
}

.dish-box {
  font-size: 15px;

  .dish-main {
    overflow: hidden;
  }

  .dish-name {
    position: relative;
    float: left;
    width: calc(100% - 170px);
    max-width: none;
    color: #474747;

    &::after {
      right: 0;
    }
  }

  .dish-count {
    float: left;
    width: 70px;
    text-align: center;
  }

  .dish-sub-info {
    margin: 1em 0;
  }

  .dish-memo {
    font-size: 13px;
    overflow: hidden;
    width: 100%;
    color: #999;
  }

  .badge-price {
    display: none;
  }

  .dish-sub {
    padding-left: 1em;

    &.dish-name {
      font-size: 14px;
      color: #666;
    }
  }
}

// 效果
.slideup-enter {
  .float-layer-hover {
    opacity: 0;
  }

  .float-layer-content {
    transform: translate3d(0, 100%, 0);
  }

  &-active {
    .float-layer-content {
      transform: translate3d(0, 0, 0);
      transition: transform .3s ease-in-out;
    }

    .float-layer-hover {
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }
  }
}

.slideup-leave {
  .float-layer-hover {
    opacity: 1;
  }

  .float-layer-content {
    transform: translate3d(0, 0, 0);
  }

  &-active {
    .float-layer-content {
      transform: translate3d(0, 100%, 0);
      transition: transform .3s ease-in-out;
    }

    .float-layer-hover {
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
  }
}
