@import 'settings.colors';
.phone-verification-code.options-group{
  border-top: none;
  .option {
    font-size: 14px;
    position: relative;
    padding: 15px 10px 10px 40px;
    line-height: 24px;
    &-content{
      float: left;
      width: auto;
      overflow: hidden;
    }

    &::before{
      position: absolute;
      top: 18px;
      left: 10px;
      width: 20px;
      height: 20px;
      content: '';
      opacity: 0.4;
      background-repeat: no-repeat;
      background-size: 16px 16px;
    }

    .option-input{
      font-size: 14px;
    }

    .btn{
      float: right;
      height: 24px;
      padding: 0 5px;
      font-size: 12px;
      border-radius: 3px;
    }

    .btn:disabled{
      background: $color-sliver;
    }

    &.phone{
      &::before{
        background-image:url('../../../asset/images/phone.png');
        background-size: 16px 16px;
      }
    }

    &.verification-code{
      &::before{
        top: 16px;
        left: 8px;
        background-image:url('../../../asset/images/verification.png');
        background-size: 20px 20px;
      }
    }
  }
}

.phone-verification-code.multi-nations{
  .option{
    &.phone{
      padding-left: 110px;
      &::before{
        left: 90px;
      }
    }
  }

  select {
    position: absolute;
    top: 15px;
    left: 5px;
    height: 24px;
    font-size: 14px;
    outline: none;
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
  }
}

.phone-verification-code.foreign{
  .verification-code{
    display: none;
  }

  .btn{
    display: none;
  }

  .option{
    border-bottom: none;
  }

  .option {
    padding-left: 110px;
  }
}
