@import 'settings.colors';

.scroll-select {
  overflow: hidden;
  background: $color-athens-grey;
}

.scroll-wrapper {
  [data-option],
  [data-placeholder] {
    font-size: 14px;
    line-height: 18px;
    display: block;
    height: 32px;
    padding: (32px - 18)/2 5px;
    text-align: center;
  }

  > .placeholder-container {
    visibility: hidden;
  }
}
