@import "settings.colors";

$scroll-select-option-height: 40px;

.scroll-select {
  position: relative;
  overflow: hidden;

  // indicator
  &::before {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 0;
    width: 100%;
    height: $scroll-select-option-height;
    margin-top: -$scroll-select-option-height / 2;
    content: "";
    border-top: 1px solid $color-crusta;
    border-bottom: 1px solid $color-crusta;
  }

  // gradient mask
  &::after {
    $transparent: rgba(255, 255, 255, 0);

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
    background-image:
      linear-gradient(
        to bottom,
        $color-white 0%,
        $transparent 40%,
        $transparent 60%,
        $color-white 100%
      );
  }
}

.scroll-wrapper {
  [data-option] {
    font-size: 18px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    height: $scroll-select-option-height;
    padding: (($scroll-select-option-height - 18) / 2) 5px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.is-checked {
      color: $color-crusta;
    }
  }

  > .placeholder-container {
    visibility: hidden;
  }
}


// scroll select slideup animation
.slideup-enter {
  .scroll-select-content {
    transform: translate3d(0, 100%, 0);
  }

  .scroll-select-close {
    opacity: 0;
  }

  &-active {
    .scroll-select-content {
      transform: translate3d(0, 0, 0);
      transition: transform .3s ease-in-out;
    }

    .scroll-select-close {
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }
  }
}

.slideup-leave {
  .scroll-select-content {
    transform: translate3d(0, 0, 0);
  }

  .scroll-select-close {
    opacity: 1;
  }

  &-active {
    .scroll-select-content {
      transform: translate3d(0, 100%, 0);
      transition: transform .3s ease-in-out;
    }

    .scroll-select-close {
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
  }
}
