@import 'settings.colors';

$scroll-select-option-height: 40px;

.scroll-select {
  position: relative;
  overflow: hidden;
  background: $color-athens-grey;

  &::after {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 0;
    width: 100%;
    height: $scroll-select-option-height;
    margin-top: -$scroll-select-option-height/2;
    content: '';
    border-top: 1px solid $color-crusta;
    border-bottom: 1px solid $color-crusta;
  }
}

.scroll-wrapper {
  [data-option] {
    font-size: 18px;
    line-height: 20px;
    display: block;
    height: $scroll-select-option-height;
    padding: ($scroll-select-option-height - 18)/2 5px;
    text-align: center;
    
    &.is-checked {
      color: $color-crusta;
    }
  }

  > .placeholder-container {
    visibility: hidden;
  }
}
