// dish-menu styles
.main {
  position: relative;
  height: calc(100% - 50px);
}

.main-YD {
  position: relative;
  height: 100%;
}

.register + .main {
  height: calc(100% - 50px - 44px);
}

.ads-existed + .scroller-wrap {
  top: 110px;
}

.scroller-wrap {
  position: absolute;
  top: 84px;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.bookok {
  font-size: 12px;
  position: fixed;
  right: 1em;
  bottom: 2em;
  background: rgba(0, 0, 0, 0.5);
  width: 4em;
  height: 4em;
  line-height:4em;
  border-radius: 2em;
  text-align: center;
  color: #fff;

  &-num {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5em;
    height:1.5em;
    line-height: 1.5em;
    border: 1px solid #fff;
    border-radius:1.5em;
    color: #fff;
    background: #ff4242;
    text-align: center;
    opacity: .8;
  }
}