// dish-menu styles
.main {
  position: relative;
  height: calc(100% - 50px);
}

.main-YD,
.main-PD {
  height: 100%;
}

.register + .main {
  height: calc(100% - 50px - 44px);
}

.ads-existed + .scroller-wrap {
  top: 110px;
}

.scroller-wrap {
  position: absolute;
  top: 84px;
  bottom: 0;
  width: 100%;
  background: #fff;
}
