.application {
  color: #474747;
  background-color: #f1f1f1;
}

.detail-page {
  .dish-count {
    color: #474747;
  }

  .dish-sub-info {
    .dish-count {
      color: #999;
    }
  }

  .dish-price {
    color: #474747;
  }
}

.dining-options {
  font-size: 15px;
  color: #666;

  .left {
    font-size: 16px;
    width: 40%;
    color: #474747;

    .text-dusty-grey {
      color: #474747;
    }
  }

  .middle {
    text-align: center;
  }

  .right {
    width: 30%;
    text-align: right;

    .text-dusty-grey {
      color: #666;
    }
  }
}

// 评价
.comment {
  &-title {
    font-size: 15px;
    color: #999;
  }

  &-content {
    padding-top: 22px;

    &-star {
      display: inline-block;
      width: 27px;
      height: 26px;
      margin-right: 23px;
      background: url("../../asset/images/star_grey_empty.svg") no-repeat center;
      background-size: 27px;
    }

    &-star:last-child {
      margin-right: 0;
    }

    .star-mark {
      background: url("../../asset/images/star_yellow.svg") no-repeat center;
      background-size: 27px;
    }
  }
}
