.application {
  color: #474747;
  background-color: #f1f1f1;
}

.detail-page {
  .dish-count {
    color: #474747;
  }

  .dish-sub-info {
    .dish-count {
      color: #999;
    }
  }

  .dish-price {
    color: #474747;
  }
}
