@import "settings.colors";

.queue-page {
  padding: 70px 15px 25px;
}

.queue-content {
  position: relative;
}

.queue-info {
  padding: 25px 0 34px;
  text-align: center;

  &-no {
    font-size: 45px;
    line-height: 63px;
    height: 63px;
    color: #474747;
  }

  &-table {
    font-size: 18px;
    color: #666;
  }
}

.queue-user {
  font-size: 15px;
  padding: 22px 15px;
  color: #666;
  border-top: 1px dashed #ccc;

  span {
    display: inline-block;
  }

  &-name {
    max-width: calc(100% - 152px);
  }

  &-num {
    float: right;
    width: 46px;
    text-align: right;
  }

  &-phone {
    width: 106px;
    text-align: right;
  }
}

.queue-waite {
  margin: 0 15px;
  padding: 28px 0 43px;
  text-align: center;
  border-top: 1px dashed #ccc;

  p:first-child {
    line-height: 33px;
    height: 33px;
    color: #666;
  }

  &-num {
    font-size: 26px;
    margin: 0 5px;
    color: #ff7417;
  }

  &-tip {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    color: $color-dusty-grey;
  }

  &-refresh {
    display: inline-block;
    padding: 9px 14px;
    background-image: url("../../asset/images/refresh_blue.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px;
  }
}

.divide-line {
  &-time {
    left: calc((100% - 162px) / 2);
    width: 162px;
  }
}

.queue-status {
  position: absolute;
  top: 137px;
  right: 0;
  width: 119px;
  height: 142px;
  background-repeat: no-repeat;
  background-size: 119px;

  &-timeOut {
    background-image: url("../../asset/images/out_of_use_grey.svg");
  }

  &-in {
    background-image: url("../../asset/images/already_in_grey.svg");
  }

  &-cancel {
    background-image: url("../../asset/images/canceled_grey.svg");
  }
}

.refresh-animation {
  animation: refreshRotate 2s linear infinite;
}

.queue-operate {
  padding: 30px 0;
  text-align: center;
}

@keyframes refreshRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-queue-cancel {
  line-height: 44px;
  display: inline-block;
  width: 135px;
  height: 44px;
  text-align: center;
  color: #ffc334;
  border: 1px solid #ffc334;
  border-radius: 50px;
}
