@import "settings.colors";

.order-page {
  color: #474747;
  background-color: #f1f1f1;

  .navi-switch {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
  }
}

.order-conent {
  position: absolute;
  top: 65px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: calc(100% - 65px);

  &-full {
    top: 0;
    height: 100%;
  }
}

.order-list-group {
  margin-bottom: 15px;
  background-color: #fff;
}

.list-head {
  line-height: 60px;
  display: block;
  height: 60px;
  padding: 0 15px;

  &-href {
    position: relative;
    display: inline-block;
    min-width: calc(100% - 100px);
    max-width: calc(100% - 80px);

    &::after {
      position: absolute;
      width: 22px;
      height: 60px;
      content: "";
      background-image: url("../../asset/images/arrow_small.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 8px;
    }
  }

  &-img {
    width: 34px;
    height: 34px;
    vertical-align: middle;
    border-radius: 34px;
  }

  &-title {
    font-weight: bold;
    display: inline-block;
    width: calc(100% - 55px);
    margin-left: 10px;
    vertical-align: middle;
  }

  &-status {
    font-size: 15px;
    display: inline-block;
    float: right;
    max-width: 75px;
  }
}

.list-content {
  position: relative;
  padding: 17px 15px 17px 0;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 1px solid #e3e3e3;
    transform: scale(1, .5);
  }
}

.list-num {
  float: left;
  width: 88px;
  text-align: center;
  border-right: 1px dashed #e3e3e3;

  &-name {
    font-size: 13px;
    line-height: 18px;
  }

  &-no {
    font-size: 28px;
    line-height: 39px;
  }
}

.list-detail {
  line-height: 23px;
  margin-left: 100px;

  p {
    height: 23px;
  }

  p:first-child {
    margin-bottom: 7px;
  }

  &-price {
    float: right;
    width: 60px;
    text-align: right;
  }

  &-dish {
    display: inline-block;
    width: calc(100% - 70px);
  }

  &-time {
    font-size: 14px;
    text-align: right;
    color: $color-dusty-grey;
  }
}

.list-inline {
  display: inline-block;
}

.list-book {
  line-height: 60px;
  position: relative;
  height: 60px;
  padding: 0 15px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 1px solid #e3e3e3;
    transform: scale(1, .5);
  }
}

.list-queue {
  height: 90px;
  padding-top: 16px !important;
  padding-left: 15px;

  .list-num {
    width: calc(100% - 150px);
    text-align: left;
    border-right: 0 none;

    &-name {
      font-size: 14px;
      color: #666;
    }
  }

  &-tips {
    font-size: 14px;
    line-height: 44px;
    height: 44px;
    margin: 0 15px;
    text-align: center;
    color: $color-dusty-grey;
    border-top: 1px dashed #ccc;
  }

  &-detail {
    font-size: 14px;
    line-height: 57px;
    height: 57px;
    text-align: right;
    color: $color-dusty-grey;
  }

  &-short {
    line-height: 70px;
    position: relative;
    height: 70px;
    padding: 0 15px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      content: "";
      border-bottom: 1px solid #e3e3e3;
      transform: scale(1, .5);
    }
  }

  &-left {
    font-size: 28px;
    display: inline-block;
  }

  &-time {
    line-height: 70px;
    float: right;
    height: 70px;
  }
}

.text-orange {
  color: #ff7417;
}

.loading-hover {
  top: 65px;
}

.records:empty,
.records-empty {
  border: 0 none;
}
