@import "settings.colors";

a {
  text-decoration: none;
}

.option {
  padding: 15px;
  color: $color-abbey;
}

.option-no-padding::after {
  left: 0;
}

.order-status {
  line-height: 60px;
  position: relative;
  height: 60px;
  padding: 0 15px;
  color: $color-white;
  background-color: $color-crusta;

  &-comment {
    font-size: 15px;
    line-height: 34px;
    position: absolute;
    top: 13px;
    right: 15px;
    display: block;
    width: 89px;
    height: 34px;
    text-align: center;
    border: 1px solid #ffb98b;
    border-radius: 50px;
    background: rgba(255, 255, 255, .2);
  }

  &-hasCoupon::after {
    position: absolute;
    top: -7px;
    right: -16px;
    bottom: -10px;
    left: -18px;
    display: block;
    content: "";
    background: url("../../asset/images/star_many.svg") no-repeat;
    background-size: 117px;
  }

  &-title {
    display: inline-block;
    min-width: 100px;
  }

  &-detail {
    font-size: 14px;
    display: inline-block;
    max-width: calc(100% - 110px);
    margin-left: 10px;
  }
}

.shop-info {
  line-height: 60px;
  position: relative;
  display: block;
  height: 60px;
  padding: 0 15px;
  border-bottom: 1px solid $color-mercury;

  &::after {
    position: absolute;
    top: 0;
    right: 15px;
    display: block;
    width: 22px;
    height: 60px;
    content: "";
    background: url("../../asset/images/arrow-right-gray.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 9px;
  }

  &-logo {
    width: 34px;
    height: 34px;
    vertical-align: middle;
    border-radius: 34px;
  }

  &-name {
    display: inline-block;
    width: calc(100% - 55px);
    margin-left: 10px;
    vertical-align: middle;
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.list-default {
  padding: 20px 15px 5px;
  background-color: $color-white;

  .list-item {
    color: $color-abbey;
  }
}

.btn-oparate {
  font-size: 17px;

  a {
    line-height: 49px;
    display: block;
    width: 50%;
    height: 49px;
    text-align: center;
    color: $color-white;
    background-color: $color-crusta;
  }

  a:last-child {
    background-color: #ffc43a;
  }
}

.option-min {
  &::after {
    border: 0;
  }

  &::before {
    border: 0;
  }

  .option {
    padding: 16.5px 15px;

    &:last-child::after {
      border: 0;
    }
  }
}

.option-extra {
  span {
    font-size: 15px;
  }
}

.option-privilege {
  .icon-privilege {
    font-size: 15px;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }
}

.icon-privilege {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px;
}

.list-privilege {
  font-size: 14px;

  &-value {
    font-size: 14px;
    color: $color-dusty-grey;
  }
}

.list-statictis {
  font-size: 15px;
  line-height: 50px;
  position: relative;
  height: 50px;
  margin-top: -5px;
  padding: 0 15px;
  background-color: $color-white;

  &::before,
  &::after {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    content: "";
    border-top: 1px solid $color-mercury;
    transform: scale(1, .5);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &-item {
    float: left;
    width: 33%;
  }

  &-item:first-child {
    width: 34%;
  }

  &-item:last-child {
    text-align: right;
  }

  &-title {
    font-size: 13px;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    color: $color-dusty-grey;
  }

  .price {
    display: inline-block;
    vertical-align: middle;
    color: $color-abbey;
  }

  .list-statictis-origin {
    max-width: calc(100% - 30px);
  }

  .list-statictis-privilage,
  .list-statictis-total {
    max-width: calc(100% - 33px);
  }
}

.list-other {
  font-size: 14px;
  line-height: 35px;
  clear: both;
  height: 35px;
  padding-left: 15px;
  color: $color-dusty-grey;
}

.detail-content {
  padding-bottom: 20px;
}

.options-group {
  margin-bottom: 5px;
}

// 优惠券及活动
.icon-4 {
  background-image: url("../../asset/images/icon_money.svg");
}

// 积分抵扣
.icon-5 {
  background-image: url("../../asset/images/icon_point.svg");
}

// 会员
.icon-6 {
  background-image: url("../../asset/images/icon_star.svg");
}

// 礼品/活动
.icon-101,
.icon-13 {
  background-image: url("../../asset/images/icon_gift.svg");
}

// 自动抹零
.icon-carry {
  background-image: url("../../asset/images/icon_hand.svg");
}

// 其他优惠
.icon-100 {
  background-image: url("../../asset/images/icon_other.svg");
}

.width-full {
  width: 100% !important;
}

.coupon-bg {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}

.coupon-content {
  position: absolute;
  top: calc(10% + 22px);
  left: calc(50% - 125px);

  &-close {
    position: absolute;
    top: 10%;
    right: calc(50% - 145px);
    display: block;
    width: 32px;
    height: 32px;
    background: url("../../asset/images/close_white.svg") center no-repeat;
    background-size: 32px;
  }

  &-big {
    width: 250px;
    height: 153px;
    background: url("../../asset/images/coupon_direct.svg") center no-repeat;
    background-size: 238px;
  }

  &-small {
    position: absolute;
    right: -2px;
    bottom: 130px;
    display: block;
    width: 110px;
    height: 85px;
    background: url("../../asset/images/coupon_direct_small.svg") center no-repeat;
    background-size: 108px;
  }

  &-tips {
    font-weight: bold;
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 22px;
    width: 216px;
    padding-top: 138px;
    text-align: center;
    border-radius: 8px;
    background: $color-white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .3);
  }

  &-btn {
    display: block;
    height: 50px;
    margin-top: 23px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #ff3d57 url("../../asset/images/coupon_btn.svg") center no-repeat;
    background-size: 118px;
  }
}

.coupon-animation {
  animation: couponMove 2s 3;
}

@keyframes couponMove {
  0%,
  84% {
    bottom: 130px;
  }

  85% {
    bottom: 120px;
  }

  90% {
    bottom: 130px;
  }

  95% {
    bottom: 120px;
  }

  100% {
    bottom: 130px;
  }
}

.dish-box {
  .dish-sub {
    margin-top: 2px;
    padding-left: 12px;

    &-info {
      margin: 20px 0 0;
    }
  }
}

// 评价
.comment {
  &-title {
    font-size: 15px;
    margin-top: 16px;
    color: $color-dusty-grey;
  }

  &-content {
    padding: 22px 0 27px;

    &-star {
      display: inline-block;
      width: 27px;
      height: 26px;
      margin-right: 23px;
      background: url("../../asset/images/star_grey_empty.svg") no-repeat center;
      background-size: 27px;
    }

    &-star:last-child {
      margin-right: 0;
    }

    .star-mark {
      background: url("../../asset/images/star_yellow.svg") no-repeat center;
      background-size: 27px;
    }
  }

  &-tips {
    font-size: 13px;
    margin-bottom: 20px;
    color: $color-dusty-grey;

    &-href {
      color: $color-crusta;
    }
  }
}

.dialog {
  &-header {
    color: $color-dove-grey;
  }

  &-body {
    padding: 0 15px !important;
  }
}
