@import "settings.colors";
@import "settings.sizes";

.group-dishes-container {
  margin-bottom: 5px;
}

.child-dish {
  margin-bottom: 5px;
  background: $color-white;

  .dish-name {
    font-weight: normal;
    float: left;
    width: calc(100% - #{$counter-max-width});
  }

  .right {
    float: right;
    width: $counter-max-width;

    .count-hide {
      display: none;
    }
  }
}


.dish {
  &-name-wrap {
    line-height: $counter-size;
    overflow: hidden;
    padding: 10px 8px;
  }

  &-dropdown-trigger {
    float: right;
    color: $color-neon-carrot;
    background: $color-white;
  }

  &-dropdown {
    font-size: 14px;
    position: relative;
    margin-bottom: 24px;
    padding: 0 10px;
    border-top: 1px solid $color-gallery;
    box-shadow: inset 3px 0 0 $color-sunglow;

    > .counter-container {
      line-height: $counter-size;
      overflow: hidden;
      padding: 7px 0;

      // override styles
      + .dish-props-select {
        padding: 10px 0 5px;
        border-top-width: 1px;
      }
    }
  }

  &-dropdown-close {
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: -16px;
    left: 0;
    display: block;
    width: 80px;
    height: 16px;
    margin: auto;
    background: $color-white;

    &::before {
      position: absolute;
      top: 0;
      left: -8px;
      width: 0;
      height: 0;
      content: "";
      border-top: 16px solid $color-white;
      border-left: 8px solid transparent;
    }

    &::after {
      position: absolute;
      top: 0;
      right: -8px;
      width: 0;
      height: 0;
      content: "";
      border-top: 16px solid $color-white;
      border-right: 8px solid transparent;
    }

    > span {
      display: block;
      width: 12px;
      height: 8px;
      margin: -3px auto 0;
      background-image: url("../../../../asset/images/arrow-top-orange.png"); // image size 24 * 15px
      background-size: cover;
    }
  }
}
