@import "settings.colors";

.flex-rest {
  min-height: 300px;
}

.copyright {
  position: relative;
}

.forget-password {
  font-size: 14px;
  display: block;
  margin: 15px 15px 0 0;
  text-align: right;
  text-decoration: none;
  color: $color-dusty-grey;
}
