@import "settings.colors";

// override styles
.queue-form {
  .options-group {
    padding: 0 10px;
    border-bottom: none;
  }

  .option {
    padding-right: 20px;
    padding-left: 20px;

    &-tile {
      font-size: 20px;
    }
  }

  .editor {
    margin-bottom: 0;
    border-bottom: 0;

    + .options-group {
      border-top: 0;
    }

    .option:last-child {
      border-bottom: 1px solid $color-gallery;
    }
  }
}

.options-group1 {
  border-top: none;

  .option {
    padding: 20px;
    border-bottom: none;

    &-tile {
      font-size: 20px;
    }
  }
}

.queue {
  &-btn {
    font-size: 18px;
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 25px;
  }

  &-list {
    padding: 15px 20px 0;

    span {
      float: left;
      width: (1 / 3) * 100%;
      text-align: center;
      color: #666;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  &-title {
    font-size: 18px;
    line-height: 32px;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-gallery;
  }

  &-entry {
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;

    span {
      line-height: 60px;
      display: inline-block;
      height: 60px;
    }

    > span:last-child {
      color: #ff732e;
    }

    &:last-child {
      margin-bottom: none;
    }
  }
}
// 图片的垂直居中
.center-image {
  width: 46%;
  margin: 30px 0 30px 27%;
}

.content1 {
  position: relative;
  top: 75px;
  left: 3%;
  width: 94%;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #fff;


  &-shop {
    width: 100%;
    // margin-top: -75px / 2;
    text-align: center;

    &-icon {
      position: relative;
      top: (-75px / 2);
      width: 75px;
      height: 75px;
      border: 3px solid rgba(255, 148, 77, .3);
      border-radius: 50%;
    }

    &-desc {
      font-size: 24px;
      font-weight: 800;
      margin-top: (-39px / 2);
    }
  }

  &-content-cut-line {
    line-height: 20px;
    width: 100%;
    height: 20px;

    span {
      display: inline-block;

      &-middle {
        width: 22%;
        text-align: center;
      }
    }
  }
}

.divider1 {
  line-height: 20px;
  position: relative;
  height: 20px;
  margin-top: 30px;
  text-align: center;
  background: #fff;
  box-shadow:
    inset (20px / 2 + 10px) 0 0 0 #fff,
    inset -1 * (20px / 2 + 10px) 0 0 0 #fff,
    inset 0 (20px / 2 - .5px) 0 0 #fff,
    inset 0 (20px / 2 + .5px) 0 0 #ece8e8;

  &::before,
  &::after {
    width: 16px;
    height: 16px;
    content: "";
    border-radius: 50%;
    background: #fd894d;
  }

  &::before {
    float: left;
    margin-left: (-16px / 2);
  }

  &::after {
    float: right;
    margin-right: (-16px / 2);
  }

  &-title {
    font-size: 13px;
    padding: 0 8px;
    color: #999;
    background: #fff;
  }

  &-hide {
    display: none;
  }
}

.errorMessage {
  padding-bottom: 30px;
  text-align: center;
  color: #c7bdbd;
}

.queue-form .option:last-child {
  padding-top: 5px;
  padding-bottom: 15px;
}

.queue-form:last-child {
  margin: 10px 0 0;
  border: 1px solid #fff;
}
