@import "settings.colors";
@import "settings.sizes";

.dish-porps-option {
  $extar-max-width: 50px;

  font-size: 14px;
  line-height: 34px;
  float: left;
  width: calc(50% - 7px);
  margin-bottom: 10px;
  padding: 0 6px;
  color: $color-dove-grey;
  border: 1px solid $color-mercury;
  border-radius: 5px;
  background: $color-white;

  &:nth-of-type(2n-1) {
    margin-right: 14px;
  }

  &.is-checked {
    color: $color-white;
    border-color: $color-orange-red;
    background: $color-orange-red;
  }

  > .name {
    display: block;
    text-align: left;
  }

  > .extra {
    float: right;
    overflow: hidden;
    width: $extar-max-width;
    text-align: right;
    white-space: nowrap;

    + .name {
      float: left;
      width: calc(100% - #{$extar-max-width});
    }
  }
}
