@import "settings.colors";
@import "settings.sizes";

.dish-detail {
  &-container {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-close {
    position: relative;
    display: block;
    height: 60px;
    background-color: $opacity-background;

    .btn-close {
      position: absolute;
      top: 75px;
      right: 15px;
      width: 44px;
      height: 44px;
      content: "";
      border: none;
      border-radius: 22px;
      background: rgba(0, 0, 0, .2);
    }
  }

  &-content {
    overflow: hidden;
    height: calc(100% - 60px);
    background: $color-porcelain;
  }

  &-addtocart {
    font-size: 18px;
    width: 100%;
    height: 50px;
  }
}

.dish-detail-container .btn-close {
  &::before,
  &::after {
    background: #fff;
  }

  &::before {
    width: 28px;
  }

  &::after {
    height: 28px;
  }
}

.single-dish-detail {
  background: $color-white;
}

