@import "settings.colors";
@import "settings.sizes";

.dish-props-select {
  padding: 8px;
  border-top: 5px solid $color-gallery;
}

.recipe-title,
.note-title,
.ingredient-title {
  font-size: 14px;
  display: block;
  padding: 5px 0 10px;
}

.rule-desc {
  font-size: 12px;
  line-height: 16px;
  float: left;
  width: 49%;
  margin-bottom: 8px;
  padding: 10px 6px;
  color: #656565;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  background: #fff;
}
