@import 'settings.colors';

// override background color
.dish-detail-content--white {
  overflow: auto;
  border-bottom: 72px solid $color-white; // register height
  background: $color-white;
}

.dish-desc {
  $price-line-height: 26px;

  &-image {
    display: block;
    width: 100%;
  }

  &-content {
    position: relative;
    padding: 20px 10px;
  }

  &-title {
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 10px;
    color: $color-mine-shaft;
  }

  &-price {
    &--del {
      font-size: 16px;
      line-height: $price-line-height;
      float: left;
      margin-right: 10px;
      color: $color-dusty-grey;
      background-image: linear-gradient(transparent 12px, currentColor 12px, currentColor 13px, transparent 13px);
    }

    &-title {
      font-size: 16px;
      line-height: $price-line-height;
      float: left;
      margin-right: 5px;
      color: $color-neon-carrot;
    }

    &--bold {
      font-size: 18px;
      font-weight: bold;
      line-height: $price-line-height;
      float: left;
      margin-right: 5px;
      color: $color-neon-carrot;

      &::before {
        font-size: 12px;
      }
    }

    &-badge {
      font-size: 11px;
      line-height: 12px;
      float: left;
      margin-top: 2px;
      margin-right: 5px;
      padding: 4px 5px;
      color: $color-white;
      border-radius: 2px;
      background: $color-sunglow;
    }
  }

  &-subtitle {
    font-size: 14px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 20px;
    color: $color-mine-shaft;
    border-top: 1px solid $color-alto;
  }

  &-desc {
    font-size: 14px;
    line-height: 18px;
    color: $color-dusty-grey;
  }

  &-register {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    height: 72px; // 10*2 + 12 + 40
    background: $color-white;

    &-text {
      font-size: 11px;
      line-height: 12px;
      display: block;
      padding: 10px;
      color: $color-dusty-grey;
    }

    &-btn {
      font-size: 15px;
      line-height: 40px;
      display: block;
      height: 40px;
      text-align: center;
      text-decoration: none;
      color: $color-white;
      background: $color-texas-rose;
    }
  }
}
