@import "settings.colors";

// override background color
.dish-detail-content--white {
  background: $color-white;
}

.dish-desc {
  $price-line-height: 26px;

  &-image {
    display: block;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &-info {
    padding: 15px;
  }

  &-title {
    font-size: 23px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 10px;
    color: $color-abbey;
  }

  &-price {
    &--del {
      font-size: 14px;
      line-height: $price-line-height;
      display: inline-block;
      margin-right: 10px;
      color: $color-dusty-grey;
      background-image:
        linear-gradient(
          transparent 12px,
          currentColor 12px,
          currentColor 13px,
          transparent 13px
        );
    }

    &-title {
      font-size: 16px;
      line-height: $price-line-height;
      float: left;
      margin-right: 5px;
      color: $color-neon-carrot;
    }

    &--bold {
      font-size: 45px;
      font-weight: 200;
      float: left;
      margin-right: 10px;
      color: $color-neon-carrot;

      &::before {
        font-size: 23px;
        margin-right: 3px;
      }
    }

    &-badge {
      font-size: 12px;
      line-height: 20px;
      display: inline-block;
      margin-top: 2px;
      margin-right: 5px;
      padding: 0 5px;
      color: $color-white;
      border-radius: 10px;
      background: $color-picton-blue;
    }
  }

  &-subtitle {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    color: $color-abbey;
    border-top: 1px solid $color-mystic;
  }

  &-desc {
    font-size: 15px;
    line-height: 22px;
    color: $color-dusty-grey;
  }

  &-register {
    height: 72px; // 10*2 + 12 + 40
    background: $color-white;

    &-text {
      font-size: 11px;
      line-height: 12px;
      display: block;
      padding: 10px;
      color: $color-dusty-grey;
    }

    &-btn {
      font-size: 15px;
      line-height: 40px;
      display: block;
      width: 100%;
      height: 40px;
      text-align: center;
      text-decoration: none;
      color: $color-white;
      background: $color-texas-rose;
    }
  }
}

.price-badge-wrap {
  display: block;
}
