@import "settings.colors";
@import "tools.functions";
@import "tools.mixins";

.vip-level {
  padding: 1em;

  &-name {
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #474747;
  }
}
