@import 'settings.colors';
*{font-family: "微软雅黑";}

$width:100%;

$none:none;
$background:url(../../asset/images/mine-spirit.png) left top/6.25em auto no-repeat ;
$border:1px solid #e7e7ef;

.fl{
    float:left;
}
.fr{
    float:right;
}
.of{
    overflow:hidden;
}
body{
    background:#fafafa;
}

div.register-banner{
    img{
        width:100%;
    }
    
    
    
}
