@import "settings.colors";
@import "tools.functions";
@import "tools.mixins";

// 覆盖 list-group-link
.list-outer .list-group-link {
  display: flex;
  height: 55px;
  padding: 0;

  .brief {
    font-size: 15px;
    top: 1.15em;
  }

  .name {
    line-height: 1.375em;
    margin-left: 1em;

    &-holder {
      display: flex;
      width: 5em;
      height: 100%;
      align-items: center;
    }
  }
}

