@import "settings.colors";
@import "tools.functions";
@import "tools.mixins";

.vip-rights {
  padding: 1em;

  &-name {
    font-size: 1.125em;
    font-weight: bold;
    color: #474747;
    margin-bottom: 1em;
  }
}

.tq-detail {
  font-size: 15px;
  line-height: 1.4em;
  margin-bottom: 1em;
  color: #474747;
  transition: all .3s;

  &-hide {
    height: 0;
  }

  &-show {
    height: auto;
  }

  .cube {
    font-style: normal;
    transform: scale(.5, .5);
    transform-origin: center center;
  }

  .info {
    display: block;
  }
}