@import "settings.colors";

.basicInfoBg {
  $width: 100%;
  $none: none;

  position: relative;
  padding: 2em;
  background: #ffd463;

  &-imgouter {
    position: relative;
    display: block;
    width: 4.938em;
    height: 4.938em;
    margin: 0 auto 1em;
  }

  &-img {
    width: 100%;
    height: 100%;
    border: 3px solid #ffbd5a;
    border-radius: 3em;
  }

  &-vip {
    font-size: 13px;
    line-height: 1.5em;
    position: absolute;
    right: 0;
    bottom: -.6em;
    left: 0;
    height: 2em;
    text-align: center;
    color: $color-white;
    background: url("../../asset/images/vip-banner.svg") center center/6em auto no-repeat;
  }

  &-name {
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: center;
    color: #5b4520;
  }
}
