@import "settings.colors";
@import "tools.functions";
@import "tools.mixins";

.menuLink {
  $width: 100%;
  $none: none;

  position: relative;
  display: block;
  height: 100%;
  padding: 1em 0;

  &::after {
    @include border-thin(bottom);

    bottom: 0;
    border-bottom: bordersolid(1, #e3e3e3);
  }

  &.mt {
    margin-bottom: 1em;
    padding: 0;
    background: $color-white;
  }

  &-holder {
    position: relative;
    width: 50%;
    padding: 1em 0;
    text-align: center;

    &:active {
      background: #eaeaea;
    }

    &::after {
      position: absolute;
      top: 12%;
      right: 0;
      height: 150%;
      content: "";
      border-right: bordersolid(1, #e3e3e3);
      transform: scale(.5, .5);
      transform-origin: 0 0;
    }

    &:last-child::after {
      display: none;
    }
  }

  &-holder-p {
    color: #444a59;

    &.title {
      font-size: 14px;
      line-height: 1.429em;
    }

    &.scorenum {
      font-size: 1.563em;
      font-weight: 600;
      line-height: 35px;
      height: 35px;
      color: #429bff;
    }

    &.balancenum {
      font-size: 1.563em;
      font-weight: 600;
      line-height: 35px;
      height: 35px;
      color: #ff8738;
    }

    .unit {
      font-size: .8rem;
    }
  }
}

.icon {
  &[name="DD"] {
    background: url("../../asset/images/DDZX.svg") center center/.8em auto no-repeat;
  }

  &[name="YH"] {
    background: url("../../asset/images/YH.svg") center center/1em auto no-repeat;
  }

  &[name="DZ"] {
    background: url("../../asset/images/DZGL.svg") center center/.8em auto no-repeat;
  }

  &[name="HYZC"] {
    background: url("../../asset/images/HYZC.svg") center center/1em auto no-repeat;
  }

  &[name="BDSJ"] {
    background: url("../../asset/images/BDSJ.svg") center center/1em auto no-repeat;
  }

  &[name="BDWX"] {
    background: url("../../asset/images/BDWX.svg") center center/1em auto no-repeat;
  }

  &[name="SZ"] {
    background: url("../../asset/images/SZ.svg") center center/1em auto no-repeat;
  }

  &[name="HYK"] {
    background: url("../../asset/images/HYK.svg") center center/1em auto no-repeat;
  }

  &[name="HYCZ"] {
    background: url("../../asset/images/HYCZ.svg") center center/1em auto no-repeat;
  }
}
