@import 'settings.colors';
@import '_objects/border';

*{font-family: "微软雅黑";}

$width:100%;
$none:none;
$background:url(../../asset/images/mine-spirit.png) left top/6.25em auto no-repeat ;

body{
    background:#fafafa;
}

.settingLink{
      position:relative;
      display:block;
      padding:1em 0;
      height:100%;
      &:after{
           @extend .border-thin;
           bottom:0;
           border-bottom:borderSolid(1,#e7e7ef);
      }
      span{
          &.name{
              display:inline-block;
              font-size:14px;
              text-decoration: $none;
              vertical-align:middle;
              //border:1px solid red;
          }
          &.arrow{
              position:absolute;
              top:50%;
              right:0;
              margin-top:-0.344em;
              width:0.438em;
              height:0.688em;
              background:$background;
              background-position:-5.7em -1.5em;
          }
          &.brief{
              position:absolute;
              top:50%;
              right:1em;
              line-height:1;
              font-size:13px;
              margin-top:-0.5em;
              color:#bcbcbc;
              &.spe{
                  right:0;
              }
          }
      }
      .logo{
          position:absolute;
          top:50%;
          right:0.813em;
          margin-top:-1.06em;
          width:2.125em;
          height:2.125em;
          border-radius:2em;
          &.spe{
                  right:0;
              }
      }
}

.input-outer{
      padding:0 1em;
      width:10em;
      height:100%;
      font-size:13px;
      .input{
          width:100%;
          height:100%;
          text-align: right;
          border:none;
          outline: none;
          color:#666;
          &::-webkit-input-placeholder{ /* WebKit browsers */
            line-height: 1.4em;
          }
      }
}



