@import "settings.colors";
@import "tools.functions";
@import "tools.mixins";


.icon {
  &[name="WDYE"] {
    background: url("../../asset/images/WDYE.svg") center center/1em auto no-repeat;
  }

  &[name="WDDJ"] {
    background: url("../../asset/images/WDDJ.svg") center center/.8em auto no-repeat;
  }

  &[name="WDJF"] {
    background: url("../../asset/images/WDJF.svg") center center/.8em auto no-repeat;
  }

  &[name="WDTQ"] {
    background: url("../../asset/images/WDTQ.svg") center center/1em auto no-repeat;
  }
}

.tq-outer {
  padding: 0 1em;

  &-hide {
    height: 0;
  }

  &-show {
    height: auto;
  }
}
