@import "settings.colors";
@import "tools.functions";
@import "tools.mixins";

.scroll-part {
  min-height: calc(100% - 45px);
}

// 覆盖 list--link
.list-outer .list-link {
  display: flex;
  height: 55px;
  padding: 0;

  .list-brief {
    font-size: 15px;
    top: 1.15em;
  }

  .list-name {
    line-height: 1.375em;
    margin-left: 1em;

    &-holder {
      display: flex;
      width: 5em;
      height: 100%;
      align-items: center;
    }
  }
}

