.order-custom-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.order-custom-name {
  margin-right: 5px;
  vertical-align: middle;
}
