@import "settings.colors";

$color-bk: #ff944d;
$color-text: #666;

.application {
  padding: 75px 15px 25px;
  background: $color-bk;
}

// override options group margin
.place-order-options {
  margin-bottom: -1px;
}

.options-group {
  margin-bottom: 0;
  border: none;

  &::after {
    border-bottom: 0 !important;
  }

  &::before {
    border-top: 0 !important;
  }
}
// override option styles
.option {
  padding: 15px 20px;
  border-bottom: none;

  &::after {
    border-bottom: 0 !important;
  }

  &-tile {
    font-size: 20px;
  }

  &-title--icon {
    width: auto;

    &::before {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 4px;
      content: "";
      vertical-align: -3px;
      background-repeat: no-repeat;
      background-size: 18px;
    }
  }

  // adjuster counter styles
  > .counter {
    margin-top: -3px;
    margin-bottom: -3px;
  }

  &-btn,
  &-input {
    font-size: 12px;
    float: right;
    text-align: right;
    color: $color-dusty-grey;
  }

  &-input {
    font-size: 14px;
    float: left;
    width: 94%;
    height: 60px;
    margin-left: 3%;
    text-align: left;
    border: 1px solid #e1e1e1;
  }
}

.options-title {
  font-size: 20px;
}

.btn-arrow-right {
  font-size: 18px;
  position: relative;
  width: calc(100% - 5em);
  min-height: 22px;
  padding: 0 20px 0 0;
  color: $color-text;

  &::after {
    position: absolute;
    top: 5px;
    right: 0;
    width: 14px;
    height: 14px;
    background: url("../../asset/images/rectangle.png") no-repeat center center;
    background-size: contain;
  }
}

.place-order {
  font-size: 18px;
  font-weight: 800;
  display: block;
  width: 100%;
  height: 50px;
  color: $color-white;
  border-radius: 25px;
  background: #ffc333;
}

.content {
  position: relative;
  padding: 0 0 10px;
  border-radius: 4px;
  background-color: #fff;


  &-shop {
    position: relative;
    width: 100%;
    // margin-top: -86px / 2;
    text-align: center;

    &-icon {
      position: absolute;
      top: (-80px / 2);
      left: 50%;
      width: 79px;
      height: 79px;
      margin-left: -40px;
      border: 3px solid rgba(255, 102, 0, .28);
      border-radius: 50%;
    }

    &-desc {
      font-size: 25px;
      font-weight: 500;
      line-height: 130px;
      height: 106px;
    }
  }

  &-content-cut-line {
    line-height: 20px;
    width: 100%;
    height: 20px;

    span {
      display: inline-block;

      &-middle {
        width: 22%;
        text-align: center;
      }
    }
  }
}

.divider {
  line-height: 20px;
  position: relative;
  height: 20px;
  text-align: center;
  background: #fff;
  box-shadow:
    inset (20px / 2 + 10px) 0 0 0 #fff,
    inset -1 * (20px / 2 + 10px) 0 0 0 #fff,
    inset 0 (20px / 2 - .5px) 0 0 #fff,
    inset 0 (20px / 2 + .5px) 0 0 #ece8e8;

  &::before,
  &::after {
    width: 16px;
    height: 16px;
    content: "";
    border-radius: 50%;
    background: $color-bk;
  }

  &::before {
    float: left;
    margin-left: (-16px / 2);
  }

  &::after {
    float: right;
    margin-right: (-16px / 2);
  }

  &-title {
    font-size: 13px;
    padding: 0 8px;
    color: #999;
    background: #fff;
  }
}

.errorMessage {
  padding-bottom: 30px;
  text-align: center;
  color: #999;
}

.text-area {
  font-size: 16px;
  width: 100%;
  margin: 0;
  padding: 7px;
  color: $color-text;
}

.override {
  width: 178px;
  padding-right: 14px;

  &::after {
    position: absolute;
  }
}

.editor-gender {
  font-size: 14px;
  line-height: 38px;
  padding: 0;
  transition: none;
}

.for-count {
  line-height: 29px;
}

.option-groups:last-child {
  .option {
    padding-bottom: 25px;
  }
}

.customers-counter {
  position: relative;

  &-minus,
  &-add {
    width: 30px;
    height: 30px;
    border-color: $color-crusta;
    border-radius: 15px;
  }

  &-minus {
    background: $color-white;

    &::before,
    &::after {
      background: $color-crusta;
    }
  }

  &-add {
    background: $color-crusta;

    &::before,
    &::after {
      background: $color-white;
    }
  }

  &-num {
    border: 0;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    display: block;
    height: 1px;
    content: "";
    background: $color-crusta;
  }

  &::after {
    top: 29px;
  }
}

.customers-counter-min {
  .customers-counter-minus {
    opacity: .8;
    background: $color-white;

    &::before,
    &::after {
      opacity: .7;
      background: $color-crusta;
    }
  }
}

.customers-counter-max {
  .customers-counter-add {
    opacity: .8;
    background: $color-crusta;

    &::before,
    &::after {
      opacity: .7;
      background: $color-white;
    }
  }
}
