@import "settings.colors";
@import "settings.sizes";
@import "tools.mixins";


.cart-container {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
}

.tiny-cart {
  $cart-right-width: 120px;

  @include clearfix;

  width: 100%;
  height: $cart-trigger-height;
  color: $color-white;
  background: $color-abbey;

  &-transparent {
    background: none;
  }

  &-left {
    position: relative;
    float: left;
    width: calc(100% - #{$cart-right-width});
    height: 100%;
    padding-left: 10px;
  }

  &-right {
    float: right;
    width: $cart-right-width;
    height: 100%;
    text-align: right;

    > .tiny-cart-text {
      line-height: 1;
      position: relative;
      top: 50%;
      float: right;
      padding-right: 10px;
      transform: translateY(-50%);
    }
  }


  &-price {
    @include clearfix;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 80px;
    min-width: 100px;
    padding-right: 10px;
    transform: translateY(-50%);

    > strong {
      font-size: 18px;
      font-weight: normal;
      margin-right: 5px;

      &::before {
        font-size: 18px;
        vertical-align: 1px;
      }
    }

    > small {
      font-size: 12px;
      display: inline-block;
      vertical-align: 1px;
    }
  }


  &-text {
    font-size: 13px;
    line-height: $cart-trigger-height;
  }


  &-btn {
    font-size: 18px;
    line-height: $cart-trigger-height;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}


.cart-icon {
  position: relative;
  width: 56px;
  height: 56px;
  border: 3px solid $color-abbey;
  border-radius: 50%;
  background: $color-dove-grey;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, .2);

  &::before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../../../asset/images/cart-icon.svg");
    // image size 60 * 54;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 27px 27px;
  }

  &::after {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    top: -8px;
    right: -4px;
    display: none;
    min-width: 22px;
    content: attr(data-count);
    color: $color-white;
    border: 2px solid #fff;
    border-radius: 11px;
    background: $color-radical-red;
  }

  &[data-count]::after {
    display: block;
  }

  &--tiny {
    float: left;
    margin-top: -8px;
    margin-right: 10px;
  }

  &--fixed {
    position: fixed;
    right: 1em;
    bottom: 1em;
  }

  &--transparent {
    opacity: .7;
  }

  &--expand {
    position: absolute;
    z-index: 10;
    top: -8px;
    left: 10px;
  }
}
