@import "settings.colors";
@import "settings.sizes";

.cart-ordered-dish {
  padding: 0 10px;
  border-bottom: 1px solid $color-mystic;

  .ordered-dish {
    $dish-price-width: 70px;
    $item-padding: 6px;

    line-height: 48px;
    overflow: hidden;

    > .dish-name {
      font-size: 16px;
      position: relative;
      float: left;
      overflow: hidden;
      width: calc(100% - #{$counter-max-width + $dish-price-width});
      margin-right: 10px;
      padding: $item-padding 23px $item-padding 0;

      &--trigger::after {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 10px;
        content: "";
        vertical-align: -3px;
        background-image: url("../../../asset/images/arrow-right-gray.svg"); // image size 20 * 12px
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px 16px;
        transform: rotate(90deg);
        transition: transform .15s;
      }

      &--trigger.is-open::after {
        transform: rotate(-90deg);
      }
    }

    > .dish-price {
      font-size: 18px;
      float: left;
      overflow: hidden;
      width: $dish-price-width;
      padding: $item-padding 0;
      text-align: right;
      color: $color-neon-carrot;

      &::before {
        font-size: 12px;
        line-height: 1;
        vertical-align: 1px;
      }
    }

    > .counter {
      margin-top: 12px;
      padding: $item-padding 0;
    }
  }
}


// ordered-dish-dropdown box
.ordered-dish-dropdown {
  clear: both;
}

// dropdown entry
.child-dish-head {
  overflow: hidden;
}

.child-dish-info {
  padding: 8px 5px 7px;
  color: $color-dusty-grey;
  border-top: 1px solid $color-mercury;
}

.child-dish-name {
  font-size: 14px;
  line-height: 20px;
  float: left;
  max-width: 50%;
  color: $color-mine-shaft;
}

.child-dish-count {
  font-size: 12px;
  line-height: 20px;
  float: right;
  width: 26px;
  margin-right: $counter-size - 5px; // 5px minus parent padding-right
  text-align: center;

  + .ordered-dish-dropdown {
    padding-top: 6px;
    padding-bottom: 0;
  }
}

// ordered-dish-dropdown description
.detail-props-info {
  font-size: 12px;
  line-height: 16px;
  clear: both;
  padding-bottom: 8px;
  color: $color-dusty-grey;

  &:empty {
    padding-top: 0;
  }
}
