@import 'settings.colors';
@import 'settings.sizes';

.cart-ordered-item {
  padding: 0 10px;
  border-bottom: 1px solid $color-mercury;
}

.ordered-item {
  $dish-price-width: 70px;

  overflow: hidden;
  padding: 6px 0;

  > .dish-name {
    font-size: 15px;
    line-height: $counter-size;
    position: relative;
    float: left;
    overflow: hidden;
    width: calc(100% - #{$counter-max-width + $dish-price-width});
    margin-right: 10px;
    padding-right: 23px;

    &--trigger::after {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      width: 20px;
      height: 28px;
      content: '';
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: -webkit-transform .25s linear;
      transition: transform .25s linear;
      background-image: url('../../../asset/images/arrow-top-grey.png'); // image size 20 * 12px
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 10px 6px;
    }

    &--trigger.is-open::after {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }

  > .dish-price {
    font-size: 18px;
    font-weight: bold;
    line-height: $counter-size;
    float: left;
    width: $dish-price-width;
    color: $color-neon-carrot;

    &::before {
      font-size: 12px;
      line-height: 1;
      vertical-align: 1px;
    }
  }
}
