@import "settings.colors";
@import "_objects/border";

// stylelint-disable selector-no-id
// Root element id
#app-placeholder {
  overflow: hidden;
  height: 100%;
}

.scroll-part {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 2.625em;
  left: 0;
  overflow: auto;
}
