@import "settings.colors";

.application {
  background: $color-gallery;

  &-content {
    margin: 1em 0 0;
  }
}

.shop {
  &-name {
    font-size: 1.125em;
    line-height: 1.389em;
    padding: 1em 0;
    text-align: center;
    background: #fff;
  }

  &-method {
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: .2em;
    padding: .5em 1em;
    background: #fff;
  }

  &-table {
    float: left;
    width: 100px;
    color: #474747;
  }

  &-orderNo {
    font-weight: bold;
    position: relative;
    float: left;
    width: calc(100% - 205px);
    padding-right: 1em;
    color: #474747;
  }

  &-edit {
    position: relative;
    float: right;
    padding-left: 1.4em;
    color: #ff7417;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      content: "";
      background: url("../../asset/images/edit.svg") center center/100% 100% no-repeat;
    }
  }
}

.dish-box {
  .dish-name {
    width: calc(100% - 200px);
  }

  .dish-count {
    margin-left: 60px;
  }
}

.dish-head {
  font-size: 14px;
}

.btn-dish,
.btn-count {
  line-height: 50px;
  text-decoration: none;
}

.btn-count {
  display: block;
  text-align: center;
  color: $color-white;
  background-color: #ffc43a;
}

.btn-count-dis {
  .btn-count {
    display: none;
  }

  .btn-dish {
    width: 100%;
  }
}

.order-status {
  position: relative;

  &-symbal {
    position: absolute;
    top: 8px;
    right: 10px;
  }
}

.order-demo-title {
  display: inline-block;
  width: 100px;
  color: #999;
}

.order-demo-info {
  width: calc(100% - 100px);
}

.order-operate {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
}

.dish-box .badge-price {
  float: left;
  margin-left: 3px;
  padding: 0 3px;
  color: #999;
  border-color: #e3e3e3;
  border-radius: 3px;
}

.dish-box .dish-sub .dish-count {
  margin: 0 70px 0 0;
}

// status
.status-square {
  width: 45px;
  height: 31px;
  background-repeat: no-repeat;
  background-size: 45px;

  &-uncheck {
    // 待确认
    background-image: url("../../asset/images/daiqueren.png");
  }

  &-checked {
    // 已确认
    background-image: url("../../asset/images/yiqueren.png");
  }

  &-refused {
    // 已拒绝
    background-image: url("../../asset/images/yijujue.png");
  }
}

.uncheckedColor {
  color: #ffdf93;
}

.checkedColor {
  color: #ffab5c;
}

.order-block-title {
  font-size: 13px;
  padding: .8em .8em 1em;
  color: #666;
}

.options-group {
  margin-bottom: .2em;

  &-mg {
    margin: .2em 0;
  }

  &-bigmg {
    margin: .2em 0 50px;
  }
}

.option {
  padding: 12px 1em;
}

