.options-group {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  border-top: 1px solid $color-mercury;
  border-bottom: 1px solid $color-mercury;
  background: $color-white;

  &:empty {
    border-style: none;
  }
}

.option {
  $option-left-width: 110px;

  font-size: 16px;
  line-height: 22px;
  display: block;
  overflow: hidden;
  padding: 12px 10px;
  text-decoration: none;
  color: $color-mine-shaft;
  border-bottom: 1px solid $color-mercury;

  &:last-child {
    border-bottom: 0;
  }

  // adjuster counter styles
  > .customers-counter {
    margin-top: -3px;
    margin-bottom: -3px;
  }

  &-title {
    float: left;
    width: $option-left-width;
  }

  &-content {
    float: right;
    width: calc(100% - #{$option-left-width});
  }

  &-desc {
    color: $color-dusty-grey;
  }
}


// option input box
.option-input {
  font-size: 16px;
  float: left;
  width: 85%;
  color: $color-dove-grey;
  border: 0;
  outline: 0;

  &[disabled] {
    background: transparent;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    appearance: none;
  }
}


// option radio button
.option-radio {
  display: none;

  + .btn-tickbox {
    float: left;
    margin-right: 5px;
  }

  ~ .option-desc {
    line-height: 18px;
    float: left;
    padding-top: 4px;
  }

  &:checked + .btn-tickbox {
    border-color: $color-neon-carrot;
    box-shadow: inset 0 0 0 10px $color-neon-carrot;

    &::before {
      transform: scale(1, 1);
    }
  }
}
