.toast {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // stylelint-disable declaration-block-no-duplicate-properties
  // Need for android 4.2 ~ 4.3
  padding-top: 150px;
  padding-top: 30vh;
  background: transparent;

  &-content {
    font-size: 14px;
    line-height: 18px;
    position: relative;
    left: 50%;
    float: left;
    min-width: 100px;
    max-width: 150px;
    padding: 15px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: rgba(0, 0, 0, .5);
    transform: translateX(-50%);
  }

  &-content::before {
    font-size: 64px;
    font-weight: bold;
    line-height: 1;
    display: block;
    margin: 5px 0;
    content: "!";
  }
}
