@import "settings.colors";
@import "settings.sizes";

.benefit {
  $height: $counter-size;

  &-banner {
    line-height: $height;
    height: $height;
    margin-bottom: 8px;
  }

  &-badge {
    font-size: 13px;
    line-height: 18px;
    display: inline-block;
    height: 18px;
    margin-right: 4px;
    padding: 0 2px;
    color: $color-white;
    border-radius: 3px;
    background: $color-sunset-orange;
  }

  &-text {
    font-size: 14px;
    color: $color-dove-grey;
  }

  &-btn {
    color: $color-neon-carrot;
  }
}
