@import "settings.colors";
@import "settings.sizes";

.dialog {
  &-options-group {
    > .dialog-option:last-child {
      border-bottom: 0;
    }
  }

  &-option {
    display: block;
    overflow: hidden;
    padding: 12px 0;
    cursor: pointer;
    border-bottom: 1px solid $color-alto;

    &-title {
      line-height: 20px;
      float: left;
      width: 200px;
    }

    &-tickbox {
      float: right;
    }
  }
}

.dialog-content {
  padding: 5px 0 40px;

  &-btn {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    color: $color-white;
    background: $color-sunglow !important;
  }
}
