@import "settings.colors";

.coupons-container {
  padding: 10px 8px 0;
  background: $color-gallery;
}

.coupon {
  margin-bottom: 10px;

  // coupon card styles
  &-card {
    font-size: 12px;
    line-height: 14px;
    position: relative;
    overflow: hidden;
    border: 1px solid $color-mercury;
    border-left: 0;
    border-radius: 4px;
    background: $color-white;

    // dotted pattern

    &::after {
      position: absolute;
      z-index: 2;
      top: 2px;
      bottom: 2px;
      left: -8px;
      width: 16px;
      content: "";
      background: radial-gradient(circle, #f1f1f1 5px, transparent 4px);
      background-size: 16px 16px;
    }

    &-left {
      flex: 0 0 65%;
      padding: 16px 0 16px 26px;
      color: #fff !important;
      border-right: 1px dotted $color-mercury;
    }

    &-right {
      position: relative;
      padding: 21px 15px 10px 20px;
      color: $color-dusty-grey !important;

      &::after {
        position: absolute;
        z-index: 2;
        top: 2px;
        right: -8px;
        bottom: 2px;
        width: 16px;
        content: "";
        background: radial-gradient(circle, #f1f1f1 5px, transparent 4px);
        background-size: 16px 16px;
      }

      .coupon-text--grey {
        font-size: 14px;
        padding: 3px 0;
        text-align: center;
        color: #999;
      }

      .coupon-time {
        font-size: 15px;
        line-height: 20px;
        height: 20px;
        margin-bottom: 15px;
        text-align: center;
        color: $color-dusty-grey;
      }
    }
  }

  // coupon text styles
  &-text--dark {
    font-size: 12px;
    padding: 3px 0;
    color: #fff;
  }

  &-text--grey {
    padding: 3px 0;
    color: #fff;
  }


  // coupon card left styles
  &-rate {
    font-size: 30px;
    line-height: 1;
    text-align: left;
    color: currentColor;
  }

  // coupon card right styles
  &-title {
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
    padding-left: 10px;
    color: #fff;
  }

  &-dropdown-trigger {
    float: left;
    padding: 20px 0 4px;

    &::after {
      float: right;
      width: 10px;
      height: 13px;
      margin-left: 5px;
      content: "";
      background-image: url("../../asset/images/arrow-up-white.svg"); // image size 20 * 12px
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 10px 6px;
      transform: rotate(180deg);
      transition: transform .2s ease-in-out;
    }

    &.is-open::after {
      transform: rotate(0);
    }
  }

  &-go-order {
    float: right;
    padding: 5px 6px 3px;
    text-decoration: none;
    color: $color-shuttle-grey;
    border: 1px solid $color-mischka;
    border-radius: 3px;
  }


  // coupon dropdown styles
  &-dropdown {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 10px;
    border: 1px solid $color-mercury;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background: $color-white;

    .coupon-text--dark {
      font-size: 14px !important;
      color: #666 !important;
    }
  }

  &-rules {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 3px 0 3px 14px;
    list-style: disc;
    color: #666;

    &:empty {
      padding: 0;
    }
  }
}


// coupon types

.coupon-xianjin {
  background-color: #ff9049;

  .coupon-rate {
    .coupon-value::after {
      font-size: 17px;
      margin-left: 5px;
      padding-right: 3px;
      content: "元";
    }
  }
}

.coupon-manjian {
  background-color: #56a5ff;

  .coupon-rate {
    .coupon-value::after {
      font-size: 17px;
      margin-left: 5px;
      padding-right: 3px;
      content: "元";
    }
  }
}

.coupon-zhekou {
  background-color: #24ced4;

  .coupon-rate {
    .coupon-value::after {
      font-size: 17px;
      font-weight: 200;
      margin-right: 3px;
      margin-left: 5px;
      content: "折";
    }
  }
}

.coupon-lipin {
  background-color: #ffc334;

  .coupon-rate {
    font-size: 18px;
    margin-top: 4px;
    text-align: left;

    .coupon-value::before {
      font-size: 17px;
      font-weight: 200;
      margin-right: 3px;
      content: "送";
    }
  }

  .coupon-text--grey {
    padding: 7px 0;
  }
}

// coupon flag
.coupon-flag {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  flex: none;
  width: 0;
  height: 0;
  border-right: 40px solid $color-crusta;
  border-bottom: 30px solid transparent;

  &::after {
    position: absolute;
    z-index: 1;
    top: 3px;
    right: -35px;
    width: 13px;
    height: 12px;
    content: "";
    background-image: url("../../asset/images/tick-white.png");
    // images size 26px 22px
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px 11px;
  }
}

.coupon-value {
  font-size: 40px;
}

.coupon-gift {
  font-size: 22px;
}

.for-gift {
  margin-bottom: 5px !important;
}

.coupon-weixin {
  position: relative;
  top: 2px;
  left: 5px;
  display: inline-block;
  width: 21px;
  height: 16px;
  background-image: url("../../asset/images/weixin-card.svg");
  background-size: 100% 100%;
}
