@import "settings.colors";
@import "tools.functions";
@import "tools.mixins";

// .order-subpage {
//   // override nested subpage
//   .order-subpage {
//     position: static;
//     padding-top: 0;
//     padding-bottom: 0;

//     > .options-group:nth-child(2) {
//       display: none;
//     }
//   }
// }

.address {
  &-group {
    display: block;
    text-decoration: none;
    background: $color-white;

    &-divider {
      font-size: 14px;
      margin: 10px 0;
      padding: 0 15px;
      color: #666;
    }
    // disabled address title color
    &-disabled {
      .address-title {
        color: #999;
      }

      .address-meta {
        color: #999;
      }
    }
  }

  &-option {
    line-height: 20px;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px 65px 14px 15px;
    text-decoration: none;

    &.is-checked {
      &::before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        content: "";
        border-bottom: 25px solid transparent;
        border-left: 35px solid $color-crusta;
      }

      &::after {
        position: absolute;
        z-index: 2;
        top: 3px;
        left: 3px;
        width: 13px;
        height: 11px;
        content: "";
        background-image: url("../../asset/images/tick-white.png");
        // images size 26px 22px
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 13px 11px;
      }
    }

    &:last-child {
      .address-option-border {
        display: none;
      }
    }
  }

  // address edit button
  &-edit {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    width: 55px;
    height: 50px;
    margin-top: -25px;
    background-image: url("../../asset/images/edit_grey.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
  }

  &-title {
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    color: #666;
  }

  &-meta {
    color: #474747;

    &-phone {
      text-align: right;
      text-decoration: none;
      pointer-events: none;
    }
  }
  // end address entry
  // add more address button
  &-add-more {
    font-size: 16px;
    line-height: 49px;
    display: block;
    height: 49px;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  // address page bottom comments
  &-comments {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: #ef4646;
  }

  &-option-border {
    @include border-thin(bottom);

    bottom: 1px;
    left: 15px;
    border-top: bordersolid(1, $color-mercury);
  }
}

.address-meta-name {
  &:empty {
    color: $color-error-red;

    &::before {
      display: block;
      content: "请补充信息";
    }
  }
}
