@import 'settings.colors';

.editor-one-third {
  float: left;
  width: 110px;
}

.editor-two-thirds {
  margin-left: 110px;

  > .option:first-child {
    padding-top: 0;
  }

  > .option:last-child {
    padding-bottom: 0;
  }
}

.editor-input {
  font-size: 16px;
  float: left;
  width: 150px;
  color: $color-dove-grey;
  border: 0;
  outline: 0;

  &[disabled] {
    background: transparent;
  }
}
