@import 'settings.colors';

// .order-subpage {
//   // override nested subpage
//   .order-subpage {
//     position: static;
//     padding-top: 0;
//     padding-bottom: 0;

//     > .options-group:nth-child(2) {
//       display: none;
//     }
//   }
// }

.address {
  padding-top: 10px;

  &-group {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    border-top: 1px solid $color-mercury;
    border-bottom: 1px solid $color-mercury;
    background: $color-white;

    &-divider {
      font-size: 14px;
      margin-bottom: 10px;
      padding: 0 15px;
      color: $color-dove-grey;
    }

    // disabled address title color
    &-disabled {
      .address-title {
        color: $color-sliver;
      }
    }
  }

  &-option {
    font-size: 14px;
    line-height: 20px;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 13px 70px 11px 15px;
    text-decoration: none;
    color: $color-mine-shaft;
    border-bottom: 1px solid $color-mercury;

    &:last-child {
      border-bottom: 0;
    }

    &.is-checked {
      &::before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        content: '';
        border-bottom: 25px solid transparent;
        border-left: 35px solid $color-crusta;
      }

      &::after {
        position: absolute;
        z-index: 2;
        top: 3px;
        left: 3px;
        width: 13px;
        height: 11px;
        content: '';
        background-image: url('../../asset/images/tick-white.png');
        // images size 26px 22px
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 13px 11px;
      }
    }
  }

  // address edit button
  &-edit {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    width: 70px;
    height: 50px;
    margin-top: -25px;
    background-image: url('../../asset/images/edit-blue.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
  }

  &-title {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
    color: $color-dove-grey;
  }

  &-meta {
    font-size: 12px;
    color: $color-sliver;
  }
  // end address entry

  // add more address button
  &-add-more {
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: $color-neon-carrot;
    border-top: 1px solid $color-mercury;
    border-bottom: 1px solid $color-mercury;
    background: $color-white;
  }

  // address page bottom comments
  &-comments {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: center;
    color: $color-sliver;
  }
}
