@import "settings.colors";

.editor {
  &-title {
    width: 80px;
  }

  &-gender-group {
    float: right;
    width: 110px;
  }

  &-input {
    font-size: 20px;
    line-height: 22px;
    float: right;
    width: 140px;
    height: 22px;
    text-align: right;
    color: $color-dove-grey;
    border: 0;
    outline: 0;

    &--right {
      text-align: right;
    }

    &[disabled] {
      background: transparent;
    }
  }

  &-gender {
    font-size: 12px;
    line-height: 40px;
    float: right;
    width: 40px;
    height: 40px;
    padding: 0 .4em;
    text-align: center;
    text-decoration: none;
    color: #ff7e28;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    transition: all .25s ease-in-out;
  }
}

.option-radio:checked + .editor-gender {
  color: $color-white;
  border-color: #ff7e28;
  background: #ff7e28;
}
