@import "settings.colors";

// Override styles in cart-ordered-dish.scss

.cart-ordered-dish {
  padding: 0 10px !important;
}

.dish-name {
  margin-right: 0 !important;
}

.order-status {
  $status-list:
    (
      "daiqueren",
      "yijujue",
      "yiqueren",
      "yishanchu",
      "yixiachu",
      "zengsong"
    );

  float: left;
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 29px; // image size 98 * 70

  @each $status in $status-list {
    &.#{$status} {
      background-image: url("../../asset/images/#{$status}.png");
    }
  }
}

.child-dish-count {
  margin-right: 0 !important;
}

// new styles
.order-dish-count {
  font-size: 14px;
  line-height: 40px;
  float: right;
  width: 42px;
  text-align: center;
  color: $color-dusty-grey;
}

.order-dish-price {
  line-height: 40px;
  float: right;
  width: 70px;
  text-align: right;
}
