@import "settings.colors";

.order-summary {
  padding: 5px 10px 4px;
  border-bottom: 1px solid $color-alto;

  // order-summary icons
  @for $i from 1 through 6 {
    &-icon#{$i}::before {
      background-image: url("../../asset/images/summary-#{$i}.png");
    }
  }

  &:empty {
    padding: 0;
    border-style: none;
  }

  &-entry {
    line-height: 32px;
  }

  &-cart .dish-name {
    width: calc(100% - 190px) !important;
  }
}

.order-discount {
  float: right;
  width: 80px;
  text-align: right;
}

.order-integral {
  font-size: 14px;
  float: right;
  color: $color-dusty-grey;

  &::before {
    content: "-";
  }
}

.order-total {
  margin-bottom: 50px;

  &-left {
    font-size: 15px;
    float: left;
    margin-right: 15px;
  }

  &-right {
    float: right;
  }
}
