@import "settings.colors";

// Override styles in cart-ordered-dish.scss

.cart-ordered-dish {
  // margin-left: 12px;
  padding: 0 0 0 10px !important;
  border: none !important;
  background-color: #fff !important;


  &::after {
    display: inherit;
    width: auto;
    height: 2px;
    content: "";
    border-bottom: 1px solid #f1f1f1;
  }

  &:last-child::after {
    border-bottom: 0 !important;
  }
}

.dish-name {
  margin-right: 0 !important;
}

.order-status {
  $status-list:
    (
      "daiqueren",
      "yijujue",
      "yiqueren",
      "yishanchu",
      "yixiachu",
      "zengsong"
    );

  float: left;
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 29px; // image size 98 * 70

  @each $status in $status-list {
    &.#{$status} {
      background-image: url("../../asset/images/#{$status}.png");
    }
  }
}

.child-dish-count {
  float: left;
  margin-left: 20px;
}

// new styles
.order-dish-count {
  font-size: 14px;
  line-height: 40px;
  float: left;
  width: 42px;
  text-align: center;
  color: $color-dusty-grey;
}

.order-dish-price {
  line-height: 40px;
  float: right;
  width: 70px;
  padding-right: 10px;
  text-align: right;

  &--deleted {
    text-decoration: line-through;
    color: $color-dusty-grey;
  }
}

.detail-props-info {
  padding: 0 15px 8px;
}

.child-dish-info {
  padding-right: 15px;
  padding-left: 15px;
  border: 0;
}

.child-dish-head {
  span {
    float: left;
    margin-left: 10px;
  }
}

.child-dish-name {
  margin-left: 0 !important;
}

.child-dish-props {
  padding: 5px 0;
}
