// dish-menu-zc styles

.application {
  .register-no + .scroller-wrap {
    height: calc(100% - 130px - 44px);
  }
}

.mesthead-min {
  .dish-mesthead {
    overflow: hidden;
    height: 44px;
    min-height: 0;
    transition: height, .2s ease-in-out .1s;

    .ads-column {
      display: none;
    }
  }

  .scroller-wrap {
    height: calc(100% - 50px);
  }

  .register-no + .scroller-wrap {
    height: calc(100% - 44px);
  }
}

