@import 'settings.colors';

#app-placeholder{
  font-size: 14px;
  min-height: 100%;
  padding: 10px 15px;
}

.container{
  position: absolute; 
  left: 15px;
  right: 15px; 
  top: 15px;
  bottom: 15px;
  min-height: 310px;
}

.btn{
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  &-login{
    width: 100%;
    margin-top: 20px;
    line-height: 40px;
  }
}

.wx-login{
  font-size: 12px;
  height: 130px;
  margin: 10px 0 0;
  color: $color-dusty-grey;
  h3{
    font-size: 12px;
    font-weight: normal;
    position: relative;
    text-align: center;

    span{
      position: relative;
      padding: 0 10px;
      background: #fff;
    }
    
    &::before{
      position:absolute;
      left: 0;
      right: 0;
      top: 5px;
      content: ' ';
      border-top: 1px solid $color-athens-grey;
    }
  }

  .btn{
    width: 100%;
    line-height: 40px;
    margin: 25px 0 15px 0;
    border: 1px solid #20CA69;
    color:#20CA69;
    &::before{
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      content: '';
      vertical-align: middle;
      background: url('../../asset/images/weixin.png') no-repeat;
      background-size: 20px 20px;
    }
  }

  p{
    line-height: 1.4;
  }
}
